<link rel="stylesheet" href="modules/pages/manageCampaign/ongoingcampaign/ongoing-campaign.tmpl.css" />
  <div class="page-container">
    <form name="home">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">Business Name</div>
            <div class="col-md-4">Business Type</div>
          </div>
          <div class="row">
            <div class="col-md-4">Campaign Supplier Type</div>
            <div class="col-md-4">Supplier Count</div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><button class="btn btn-danger" id="details" name="show" value="details" ng-click="viewDetails()">View Details</button></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">Business Name</div>
          <div class="col-md-4">Business Type</div>
        </div>
        <div class="row">
          <div class="col-md-4">Campaign Supplier Type</div>
          <div class="col-md-4">Supplier Count</div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4"><button class="btn btn-danger" id="details" name="show" value="details" ng-click="viewDetails()">View Details</button></div>
      </div>
    </div>
  </div>
  <div>
    <div class="panel-group" ng-show="show=='details'">
      <a href="#/manageCampaign/ongoingcampaign" class="pull-right right-addon" ng-click="hideDetails()"><span class="glyphicon glyphicon-remove"></a>
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Campaign Details</h4></div>
          <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Society</th>
                <th>Type of Campaign</th>
                <th>Specification</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Society </td>
                <td> Poster </td>
                <td> A3 </td>
              </tr>
              <tr>
                <td> Society </td>
                <td> Standee </td>
                <td> Small </td>
              </tr>
              <tr>
                <td> Society </td>
                <td> Stall </td>
                <td> Small </td>
              </tr>
          </table>
        </div>
      </div>
        <div class="panel panel-default ">
          <div class="panel-heading"><h4>Pricing Details</h4></div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Society</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> Business Name </td>
                    <td> ABC </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading"><h4>Payment Information</h4></div>
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Mode of Payment</th>
                      <th>Details</th>
                      <th>Price</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> Demand Draft </td>
                      <td> 789450 </td>
                      <td> 100000 </td>
                      <td> 22/04/2016 </td>
                    </tr>
                  </tbody>
                </table>

          </div>
        </div>
      </div>
    </form>
  </div>
