<div class="hpadding20">
  <div class="row">

<!--<div id="pager">-->
    <div class="col-md-10" style="text-align: center;">
        <div class="row">
<!-- Start: Carousel added to slide images-->
          <div class="carousel" id="slider-Poster" style="margin-left:40px;">

 <div class="carousel-inner" >
     <div class="item Image" ng-class="{active:!$index}"  ng-repeat="image in PosterImages">
       <div class="row">
         <img ng-src="{{image}}"  width="300px" height="180"/>
         <img ng-src="{{PosterImages[$index+1]}}"  width="300px" height="180" />
       </div>
       <a class="left carousel-control"  data-toggle="carousel" data-target = "#slider-Poster" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" data-toggle="carousel" data-target = "#slider-Poster" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
       </a>
     </div>


 </div>
</div>
<!--End: Carousel added to slide images-->
    </div>
   </div><br>
</div>
<div class="hpadding20">
	 <div class="line4"></div>
		 <span class="opensans dark size16 bold" style="color:#000; font-style:bold">Size & Number</span><br>
		 <span class="opensans dark size16 bold grey">Total no.of Posters Ad Spaces : {{totalInventoryCount.totalPoster}}</span><br><br>
</div>

<div class="hpadding20">
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15" style="color:#0fa491">{{inventoryDetails.nb_count}}<br>
        <center><label style="font-size:15px; color:#c0c0c0">Notice board spaces</label></center></div>
    		<div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491">
			<span ng-if="inventoryDetails.nb_A4_allowed">A4</span>
			<span ng-if="inventoryDetails.nb_A3_allowed">,A3</span> <br>
        <center><label style="font-size:15px; color:#c0c0c0">Poster size</label></center>
      </div>
			<div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491">Pin Insertion<br>
        <center><label style="font-size:15px; color:#c0c0c0">Type of notice board</label></center>
      </div>
			<div class="clearfix"></div>
	 </div>
	 <div class="clearfix"></div><br/>
</div>

<div class="hpadding20">
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15 " style="color:#0fa491">{{inventoryDetails.lift_count}}<br>
        <center><label style="font-size:15px; color:#c0c0c0">Lift spaces</label></center>
      </div>
			<div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491">A4<br>
        <center><label style="font-size:15px; color:#c0c0c0">Poster size</label></center>
      </div>
		  <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491">5<br>
         <center><label style="font-size:15px; color:#c0c0c0">Lift Capacity</label></center>
      </div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div><br/>
</div>

<div class="hpadding20">
	 <div class="line4"></div>
		 <span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Booking Information</span><br><br>
</div>
<div class="hpadding20">
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15" style="color:#0fa491">Minimum Weekly<br>
       <center><label style="font-size:15px; color:#c0c0c0">Display Duration</label></center>
     </div>
     <div class="clearfix"></div>
   </div>
   <div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491">{{society.tower_count}}<br>
        <center><label style="font-size:15px; color:#c0c0c0">Minimum Booking</label></center>
      </div>
			<div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0"></div>
	 <div class="clearfix"></div><br/>
</div>
