html{
  background-color: #ffffff;
}
body{
	/* background-color: #ffffff !important; */
  overflow-x: visible !important;

	font-family: Source Sans Pro;
	color: #707070;
}
#supplierMap {
    height:420px;
    width:360px;
}
.mapPosition{
	margin-left: 15%;
}
.selectcenter{
	margin-left: 9%;
	margin-top: 2%;
}
.containerSpacing{
	margin-top: 2%;
}
.two-col{
	min-width: 50%;
	/*max-width: 51%;*/
}
.nbCheckbox{
	position: relative;
    margin-top: 15px;
    display: inline-block;
}

body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
}
.filterPanel{
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e1e1e1;
    font-size: 14px;
    float: left;
    width: 100%;
}
.filterPanelHeader{
    font-weight: 500;
    display: block;
		color: crimson;
}
.filterscroll{
	overflow: hidden;
	overflow-x:hidden;
	overflow-y: auto;
	position: relative;
  height: 550px;
	z-index: 4;
}
.panelSpacing{
	 margin left: -29%;
	 margin-right: 29%;
}
.page-panel{
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
	width: 99%;
	align-self: center;
}
.drop-width{
	width: 22% !important;
}
.box-spacing-radius{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 40%;
}
.box-spacing{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100% !important;
}
.map-width{
	width: 50% !important;
	margin-left: -8%;
}
.alignment-center{
	text-align: center;
}
.space{
	margin-top: 46px !important;
}
.summarypanel{
	margin-left: 21% !important
}
.summaryGrid{
	margin-left: 45px !important
}
.box-spacing1{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 6%;
}
.search-bin{
	width: 20% !important
}
.center-align{
	text-align: center;
}
.aligndropdown{
	margin-left: 28px;
}
.headcol {
  position:absolute;
  width:5em;
  left:0;
  top:auto;
  border-right: 0px none black;
  border-top-width:3px; /*only relevant for first row*/
  margin-top:-3px; /*compensate for top border*/
}
.tab-content4 > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content4 > .active,
.pill-content > .active {
  display: block;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

.center-button {
	margin-top: 5px;
	margin-bottom: 5px;
}
.close {
float: right;
font-size: 35px;
font-weight: 900;
line-height: 2;
color: #800000;
text-shadow: 0 1px 0 #;
filter: alpha(opacity=0);
opacity: .5;
}
/* .breadcrumb{
	background-color: transparent;
	font-size : x-large;
} */
/*on summary*/
.panelSubHeader{
  color: initial;
}
.filter-disable{
    pointer-events:none;
}

.color-codes{

  margin-left:96px;
  display: inline;
  padding: 10px;
  position:relative;
}
#spacing{
  margin-top: 3px;
}

.gridViewTable{
  width: 56%;
}
