.panel-group > .panel > .panel-heading {
  padding: 0;
}
.panel-group > .panel > .panel-heading > h4.panel-title {
  height: 45px;
  width: 100%;
  background: #cb1925 !important;
  padding: 0;
}
.panel-group > .panel > .panel-heading > h4.panel-title > a {
  display: block;
  /* padding: 15px 22px; */
  width: 100%;
}

.panel-collapse {
  transition: height 0.2s ease-out;
}
.panel-collapse .panel-body {
  padding: 15px;
}
