.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.btn {
  border-radius: 5px;
  transition: all 0.1s ease;
}

.btn:hover {
  /*transform: scale(1.2);*/
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.open > .btn.dropdown-toggle.btn.btn-primary {
  background: #209e91;
  border-color: #088679;
  background-color: #1b867b;
  border-color: #1b867b;
}
.open > .btn.dropdown-toggle.btn-success {
  background: #90b900;
  border-color: #78a100;
  background-color: #7a9d00;
  border-color: #7a9d00;
}
.open > .btn.dropdown-toggle.btn-info {
  background: #2dacd1;
  border-color: #1594b9;
  background-color: #2692b2;
  border-color: #2692b2;
}
.open > .btn.dropdown-toggle.btn-warning {
  background: #dfb81c;
  border-color: #c7a004;
  background-color: #be9c18;
  border-color: #be9c18;
}
.open > .btn.dropdown-toggle.btn-danger {
  background: #e85656;
  border-color: #d03e3e;
  background-color: #c54949;
  border-color: #c54949;
}

button.btn.btn-primary {
  background: #209e91;
  border-color: #209e91;
}
button.btn.btn-primary.disabled, button.btn.btn-primary[disabled], fieldset[disabled] button.btn.btn-primary, button.btn.btn-primary.disabled:hover, button.btn.btn-primary[disabled]:hover, fieldset[disabled] button.btn.btn-primary:hover, button.btn.btn-primary.disabled:focus, button.btn.btn-primary[disabled]:focus, fieldset[disabled] button.btn.btn-primary:focus, button.btn.btn-primary.disabled.focus, button.btn.btn-primary[disabled].focus, fieldset[disabled] button.btn.btn-primary.focus, button.btn.btn-primary.disabled:active, button.btn.btn-primary[disabled]:active, fieldset[disabled] button.btn.btn-primary:active, button.btn.btn-primary.disabled.active, button.btn.btn-primary[disabled].active, fieldset[disabled] button.btn.btn-primary.active {
  background: #209e91;
  border-color: #2caa9d;
}
button.btn.btn-primary.disabled:hover, button.btn.btn-primary[disabled]:hover, fieldset[disabled] button.btn.btn-primary:hover, button.btn.btn-primary.disabled:hover:hover, button.btn.btn-primary[disabled]:hover:hover, fieldset[disabled] button.btn.btn-primary:hover:hover, button.btn.btn-primary.disabled:focus:hover, button.btn.btn-primary[disabled]:focus:hover, fieldset[disabled] button.btn.btn-primary:focus:hover, button.btn.btn-primary.disabled.focus:hover, button.btn.btn-primary[disabled].focus:hover, fieldset[disabled] button.btn.btn-primary.focus:hover, button.btn.btn-primary.disabled:active:hover, button.btn.btn-primary[disabled]:active:hover, fieldset[disabled] button.btn.btn-primary:active:hover, button.btn.btn-primary.disabled.active:hover, button.btn.btn-primary[disabled].active:hover, fieldset[disabled] button.btn.btn-primary.active:hover {
  transform: none;
}
button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary.focus, button.btn.btn-primary:active, button.btn.btn-primary.active {
  background: #209e91;
  border-color: #088679;
}
button.btn.btn-primary:active, button.btn.btn-primary:target {
  background-color: #1b867b;
}

button.btn.btn-default {
  border-width: 1px;
  color: #ffffff;
  background: transparent;
  border-color: #ffffff;
}
button.btn.btn-default.disabled, button.btn.btn-default[disabled], fieldset[disabled] button.btn.btn-default, button.btn.btn-default.disabled:hover, button.btn.btn-default[disabled]:hover, fieldset[disabled] button.btn.btn-default:hover, button.btn.btn-default.disabled:focus, button.btn.btn-default[disabled]:focus, fieldset[disabled] button.btn.btn-default:focus, button.btn.btn-default.disabled.focus, button.btn.btn-default[disabled].focus, fieldset[disabled] button.btn.btn-default.focus, button.btn.btn-default.disabled:active, button.btn.btn-default[disabled]:active, fieldset[disabled] button.btn.btn-default:active, button.btn.btn-default.disabled.active, button.btn.btn-default[disabled].active, fieldset[disabled] button.btn.btn-default.active {
  background: transparent;
  border-color: white;
}
button.btn.btn-default.disabled:hover, button.btn.btn-default[disabled]:hover, fieldset[disabled] button.btn.btn-default:hover, button.btn.btn-default.disabled:hover:hover, button.btn.btn-default[disabled]:hover:hover, fieldset[disabled] button.btn.btn-default:hover:hover, button.btn.btn-default.disabled:focus:hover, button.btn.btn-default[disabled]:focus:hover, fieldset[disabled] button.btn.btn-default:focus:hover, button.btn.btn-default.disabled.focus:hover, button.btn.btn-default[disabled].focus:hover, fieldset[disabled] button.btn.btn-default.focus:hover, button.btn.btn-default.disabled:active:hover, button.btn.btn-default[disabled]:active:hover, fieldset[disabled] button.btn.btn-default:active:hover, button.btn.btn-default.disabled.active:hover, button.btn.btn-default[disabled].active:hover, fieldset[disabled] button.btn.btn-default.active:hover {
  transform: none;
}
button.btn.btn-default:hover, button.btn.btn-default:focus, button.btn.btn-default.focus, button.btn.btn-default:active, button.btn.btn-default.active {
  background: transparent;
  border-color: #e7e7e7;
}
button.btn.btn-default:active, button.btn.btn-default:target {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

button.btn.btn-success {
  background: #90b900;
  border-color: #90b900;
}
button.btn.btn-success.disabled, button.btn.btn-success[disabled], fieldset[disabled] button.btn.btn-success, button.btn.btn-success.disabled:hover, button.btn.btn-success[disabled]:hover, fieldset[disabled] button.btn.btn-success:hover, button.btn.btn-success.disabled:focus, button.btn.btn-success[disabled]:focus, fieldset[disabled] button.btn.btn-success:focus, button.btn.btn-success.disabled.focus, button.btn.btn-success[disabled].focus, fieldset[disabled] button.btn.btn-success.focus, button.btn.btn-success.disabled:active, button.btn.btn-success[disabled]:active, fieldset[disabled] button.btn.btn-success:active, button.btn.btn-success.disabled.active, button.btn.btn-success[disabled].active, fieldset[disabled] button.btn.btn-success.active {
  background: #90b900;
  border-color: #9cc50c;
}
button.btn.btn-success.disabled:hover, button.btn.btn-success[disabled]:hover, fieldset[disabled] button.btn.btn-success:hover, button.btn.btn-success.disabled:hover:hover, button.btn.btn-success[disabled]:hover:hover, fieldset[disabled] button.btn.btn-success:hover:hover, button.btn.btn-success.disabled:focus:hover, button.btn.btn-success[disabled]:focus:hover, fieldset[disabled] button.btn.btn-success:focus:hover, button.btn.btn-success.disabled.focus:hover, button.btn.btn-success[disabled].focus:hover, fieldset[disabled] button.btn.btn-success.focus:hover, button.btn.btn-success.disabled:active:hover, button.btn.btn-success[disabled]:active:hover, fieldset[disabled] button.btn.btn-success:active:hover, button.btn.btn-success.disabled.active:hover, button.btn.btn-success[disabled].active:hover, fieldset[disabled] button.btn.btn-success.active:hover {
  transform: none;
}
button.btn.btn-success:hover, button.btn.btn-success:focus, button.btn.btn-success.focus, button.btn.btn-success:active, button.btn.btn-success.active {
  background: #90b900;
  border-color: #78a100;
}
button.btn.btn-success:active, button.btn.btn-success:target {
  background-color: #7a9d00;
}

button.btn.btn-info {
  background: #2dacd1;
  border-color: #2dacd1;
}
button.btn.btn-info.disabled, button.btn.btn-info[disabled], fieldset[disabled] button.btn.btn-info, button.btn.btn-info.disabled:hover, button.btn.btn-info[disabled]:hover, fieldset[disabled] button.btn.btn-info:hover, button.btn.btn-info.disabled:focus, button.btn.btn-info[disabled]:focus, fieldset[disabled] button.btn.btn-info:focus, button.btn.btn-info.disabled.focus, button.btn.btn-info[disabled].focus, fieldset[disabled] button.btn.btn-info.focus, button.btn.btn-info.disabled:active, button.btn.btn-info[disabled]:active, fieldset[disabled] button.btn.btn-info:active, button.btn.btn-info.disabled.active, button.btn.btn-info[disabled].active, fieldset[disabled] button.btn.btn-info.active {
  background: #2dacd1;
  border-color: #39b8dd;
}
button.btn.btn-info.disabled:hover, button.btn.btn-info[disabled]:hover, fieldset[disabled] button.btn.btn-info:hover, button.btn.btn-info.disabled:hover:hover, button.btn.btn-info[disabled]:hover:hover, fieldset[disabled] button.btn.btn-info:hover:hover, button.btn.btn-info.disabled:focus:hover, button.btn.btn-info[disabled]:focus:hover, fieldset[disabled] button.btn.btn-info:focus:hover, button.btn.btn-info.disabled.focus:hover, button.btn.btn-info[disabled].focus:hover, fieldset[disabled] button.btn.btn-info.focus:hover, button.btn.btn-info.disabled:active:hover, button.btn.btn-info[disabled]:active:hover, fieldset[disabled] button.btn.btn-info:active:hover, button.btn.btn-info.disabled.active:hover, button.btn.btn-info[disabled].active:hover, fieldset[disabled] button.btn.btn-info.active:hover {
  transform: none;
}
button.btn.btn-info:hover, button.btn.btn-info:focus, button.btn.btn-info.focus, button.btn.btn-info:active, button.btn.btn-info.active {
  background: #2dacd1;
  border-color: #1594b9;
}
button.btn.btn-info:active, button.btn.btn-info:target {
  background-color: #2692b2;
}

button.btn.btn-warning {
  background: #dfb81c;
  border-color: #dfb81c;
}
button.btn.btn-warning.disabled, button.btn.btn-warning[disabled], fieldset[disabled] button.btn.btn-warning, button.btn.btn-warning.disabled:hover, button.btn.btn-warning[disabled]:hover, fieldset[disabled] button.btn.btn-warning:hover, button.btn.btn-warning.disabled:focus, button.btn.btn-warning[disabled]:focus, fieldset[disabled] button.btn.btn-warning:focus, button.btn.btn-warning.disabled.focus, button.btn.btn-warning[disabled].focus, fieldset[disabled] button.btn.btn-warning.focus, button.btn.btn-warning.disabled:active, button.btn.btn-warning[disabled]:active, fieldset[disabled] button.btn.btn-warning:active, button.btn.btn-warning.disabled.active, button.btn.btn-warning[disabled].active, fieldset[disabled] button.btn.btn-warning.active {
  background: #dfb81c;
  border-color: #ebc428;
}
button.btn.btn-warning.disabled:hover, button.btn.btn-warning[disabled]:hover, fieldset[disabled] button.btn.btn-warning:hover, button.btn.btn-warning.disabled:hover:hover, button.btn.btn-warning[disabled]:hover:hover, fieldset[disabled] button.btn.btn-warning:hover:hover, button.btn.btn-warning.disabled:focus:hover, button.btn.btn-warning[disabled]:focus:hover, fieldset[disabled] button.btn.btn-warning:focus:hover, button.btn.btn-warning.disabled.focus:hover, button.btn.btn-warning[disabled].focus:hover, fieldset[disabled] button.btn.btn-warning.focus:hover, button.btn.btn-warning.disabled:active:hover, button.btn.btn-warning[disabled]:active:hover, fieldset[disabled] button.btn.btn-warning:active:hover, button.btn.btn-warning.disabled.active:hover, button.btn.btn-warning[disabled].active:hover, fieldset[disabled] button.btn.btn-warning.active:hover {
  transform: none;
}
button.btn.btn-warning:hover, button.btn.btn-warning:focus, button.btn.btn-warning.focus, button.btn.btn-warning:active, button.btn.btn-warning.active {
  background: #dfb81c;
  border-color: #c7a004;
}
button.btn.btn-warning:active, button.btn.btn-warning:target {
  background-color: #be9c18;
}

button.btn.btn-danger {
  background: #e85656;
  border-color: #e85656;
}
button.btn.btn-danger.disabled, button.btn.btn-danger[disabled], fieldset[disabled] button.btn.btn-danger, button.btn.btn-danger.disabled:hover, button.btn.btn-danger[disabled]:hover, fieldset[disabled] button.btn.btn-danger:hover, button.btn.btn-danger.disabled:focus, button.btn.btn-danger[disabled]:focus, fieldset[disabled] button.btn.btn-danger:focus, button.btn.btn-danger.disabled.focus, button.btn.btn-danger[disabled].focus, fieldset[disabled] button.btn.btn-danger.focus, button.btn.btn-danger.disabled:active, button.btn.btn-danger[disabled]:active, fieldset[disabled] button.btn.btn-danger:active, button.btn.btn-danger.disabled.active, button.btn.btn-danger[disabled].active, fieldset[disabled] button.btn.btn-danger.active {
  background: #e85656;
  border-color: #f46262;
}
button.btn.btn-danger.disabled:hover, button.btn.btn-danger[disabled]:hover, fieldset[disabled] button.btn.btn-danger:hover, button.btn.btn-danger.disabled:hover:hover, button.btn.btn-danger[disabled]:hover:hover, fieldset[disabled] button.btn.btn-danger:hover:hover, button.btn.btn-danger.disabled:focus:hover, button.btn.btn-danger[disabled]:focus:hover, fieldset[disabled] button.btn.btn-danger:focus:hover, button.btn.btn-danger.disabled.focus:hover, button.btn.btn-danger[disabled].focus:hover, fieldset[disabled] button.btn.btn-danger.focus:hover, button.btn.btn-danger.disabled:active:hover, button.btn.btn-danger[disabled]:active:hover, fieldset[disabled] button.btn.btn-danger:active:hover, button.btn.btn-danger.disabled.active:hover, button.btn.btn-danger[disabled].active:hover, fieldset[disabled] button.btn.btn-danger.active:hover {
  transform: none;
}
button.btn.btn-danger:hover, button.btn.btn-danger:focus, button.btn.btn-danger.focus, button.btn.btn-danger:active, button.btn.btn-danger.active {
  background: #e85656;
  border-color: #d03e3e;
}
button.btn.btn-danger:active, button.btn.btn-danger:target {
  background-color: #c54949;
}

button.btn.btn-inverse {
  background: #eeeeee;
  border-color: #eeeeee;
  color: #ffffff;
}
button.btn.btn-inverse.disabled, button.btn.btn-inverse[disabled], fieldset[disabled] button.btn.btn-inverse, button.btn.btn-inverse.disabled:hover, button.btn.btn-inverse[disabled]:hover, fieldset[disabled] button.btn.btn-inverse:hover, button.btn.btn-inverse.disabled:focus, button.btn.btn-inverse[disabled]:focus, fieldset[disabled] button.btn.btn-inverse:focus, button.btn.btn-inverse.disabled.focus, button.btn.btn-inverse[disabled].focus, fieldset[disabled] button.btn.btn-inverse.focus, button.btn.btn-inverse.disabled:active, button.btn.btn-inverse[disabled]:active, fieldset[disabled] button.btn.btn-inverse:active, button.btn.btn-inverse.disabled.active, button.btn.btn-inverse[disabled].active, fieldset[disabled] button.btn.btn-inverse.active {
  background: #eeeeee;
  border-color: #fafafa;
}
button.btn.btn-inverse.disabled:hover, button.btn.btn-inverse[disabled]:hover, fieldset[disabled] button.btn.btn-inverse:hover, button.btn.btn-inverse.disabled:hover:hover, button.btn.btn-inverse[disabled]:hover:hover, fieldset[disabled] button.btn.btn-inverse:hover:hover, button.btn.btn-inverse.disabled:focus:hover, button.btn.btn-inverse[disabled]:focus:hover, fieldset[disabled] button.btn.btn-inverse:focus:hover, button.btn.btn-inverse.disabled.focus:hover, button.btn.btn-inverse[disabled].focus:hover, fieldset[disabled] button.btn.btn-inverse.focus:hover, button.btn.btn-inverse.disabled:active:hover, button.btn.btn-inverse[disabled]:active:hover, fieldset[disabled] button.btn.btn-inverse:active:hover, button.btn.btn-inverse.disabled.active:hover, button.btn.btn-inverse[disabled].active:hover, fieldset[disabled] button.btn.btn-inverse.active:hover {
  transform: none;
}
button.btn.btn-inverse:hover, button.btn.btn-inverse:focus, button.btn.btn-inverse.focus, button.btn.btn-inverse:active, button.btn.btn-inverse.active {
  background: #eeeeee;
  border-color: #d6d6d6;
}
button.btn.btn-inverse:active, button.btn.btn-inverse:target, button.btn.btn-inverse:hover {
  background-color: #eeeeee;
  color: #ffffff;
}

.btn-with-icon i {
  margin-right: 10px;
}

.btn-group :hover, .btn-toolbar :hover {
  transform: none;
}

.btn-group button.btn.btn-primary {
  border-color: #149285;
}
.btn-group button.btn.btn-primary:hover {
  border-color: #088679;
}
.btn-group button.btn.btn-danger {
  border-color: #dc4a4a;
}
.btn-group button.btn.btn-danger:hover {
  border-color: #d03e3e;
}
.btn-group button.btn.btn-info {
  border-color: #21a0c5;
}
.btn-group button.btn.btn-info:hover {
  border-color: #1594b9;
}
.btn-group button.btn.btn-success {
  border-color: #84ad00;
}
.btn-group button.btn.btn-success:hover {
  border-color: #78a100;
}
.btn-group button.btn.btn-warning {
  border-color: #d3ac10;
}
.btn-group button.btn.btn-warning:hover {
  border-color: #c7a004;
}
.btn-group .dropdown-menu {
  margin-top: 0px;
}

.btn-toolbar {
  display: inline-block;
}

.btn .caret {
  margin-left: 2px;
}

button.progress-button .progress {
  margin-bottom: 0;
  border-radius: 0;
}
button.progress-button:hover {
  transform: none;
}
button.progress-button.progress-button-style-shrink.btn.disabled.progress-button-dir-horizontal:hover {
  transform: scaleY(0.3);
}
button.progress-button.progress-button-style-shrink.btn.disabled.progress-button-dir-vertical:hover {
  transform: scaleX(0.1);
}
button.progress-button.btn.btn-primary {
  border-radius: 0;
}
button.progress-button.btn.btn-primary .content:after, button.progress-button.btn.btn-primary .content:before {
  color: black;
}
button.progress-button.btn.btn-primary.progress-button-style-move-up .content, button.progress-button.btn.btn-primary.progress-button-style-slide-down .content {
  background-color: #17746a;
}
button.progress-button.btn.btn-primary.progress-button-style-lateral-lines .progress-inner {
  border-color: #17746a;
  background: 0 0;
}
button.progress-button.btn.btn-primary .progress {
  background-color: #17746a;
  box-shadow: 0 1px 0 #17746a;
}
button.progress-button.btn.btn-primary .progress-inner {
  background-color: #0f4943;
}
button.progress-button.btn.btn-primary.progress-button-perspective {
  background: none;
}
button.progress-button.btn.btn-primary.progress-button-perspective .content {
  background-color: #209e91;
}
button.progress-button.btn.btn-default {
  border-radius: 0;
}
button.progress-button.btn.btn-default .content:after, button.progress-button.btn.btn-default .content:before {
  color: rgba(0, 0, 0, 0.2);
}
button.progress-button.btn.btn-default.progress-button-style-move-up .content, button.progress-button.btn.btn-default.progress-button-style-slide-down .content {
  background-color: rgba(0, 0, 0, 0.2);
}
button.progress-button.btn.btn-default.progress-button-style-lateral-lines .progress-inner {
  border-color: rgba(0, 0, 0, 0.2);
  background: 0 0;
}
button.progress-button.btn.btn-default .progress {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
button.progress-button.btn.btn-default .progress-inner {
  background-color: rgba(0, 0, 0, 0.2);
}
button.progress-button.btn.btn-default.progress-button-perspective {
  background: none;
}
button.progress-button.btn.btn-default.progress-button-perspective .content {
  background-color: rgba(0, 0, 0, 0.2);
}
button.progress-button.btn.btn-success {
  border-radius: 0;
}
button.progress-button.btn.btn-success .content:after, button.progress-button.btn.btn-success .content:before {
  color: black;
}
button.progress-button.btn.btn-success.progress-button-style-move-up .content, button.progress-button.btn.btn-success.progress-button-style-slide-down .content {
  background-color: #688600;
}
button.progress-button.btn.btn-success.progress-button-style-lateral-lines .progress-inner {
  border-color: #688600;
  background: 0 0;
}
button.progress-button.btn.btn-success .progress {
  background-color: #688600;
  box-shadow: 0 1px 0 #688600;
}
button.progress-button.btn.btn-success .progress-inner {
  background-color: #415300;
}
button.progress-button.btn.btn-success.progress-button-perspective {
  background: none;
}
button.progress-button.btn.btn-success.progress-button-perspective .content {
  background-color: #90b900;
}
button.progress-button.btn.btn-info {
  border-radius: 0;
}
button.progress-button.btn.btn-info .content:after, button.progress-button.btn.btn-info .content:before {
  color: #092229;
}
button.progress-button.btn.btn-info.progress-button-style-move-up .content, button.progress-button.btn.btn-info.progress-button-style-slide-down .content {
  background-color: #2489a7;
}
button.progress-button.btn.btn-info.progress-button-style-lateral-lines .progress-inner {
  border-color: #2489a7;
  background: 0 0;
}
button.progress-button.btn.btn-info .progress {
  background-color: #2489a7;
  box-shadow: 0 1px 0 #2489a7;
}
button.progress-button.btn.btn-info .progress-inner {
  background-color: #1b677d;
}
button.progress-button.btn.btn-info.progress-button-perspective {
  background: none;
}
button.progress-button.btn.btn-info.progress-button-perspective .content {
  background-color: #2dacd1;
}
button.progress-button.btn.btn-warning {
  border-radius: 0;
}
button.progress-button.btn.btn-warning .content:after, button.progress-button.btn.btn-warning .content:before {
  color: #2a2205;
}
button.progress-button.btn.btn-warning.progress-button-style-move-up .content, button.progress-button.btn.btn-warning.progress-button-style-slide-down .content {
  background-color: #b29316;
}
button.progress-button.btn.btn-warning.progress-button-style-lateral-lines .progress-inner {
  border-color: #b29316;
  background: 0 0;
}
button.progress-button.btn.btn-warning .progress {
  background-color: #b29316;
  box-shadow: 0 1px 0 #b29316;
}
button.progress-button.btn.btn-warning .progress-inner {
  background-color: #846d11;
}
button.progress-button.btn.btn-warning.progress-button-perspective {
  background: none;
}
button.progress-button.btn.btn-warning.progress-button-perspective .content {
  background-color: #dfb81c;
}
button.progress-button.btn.btn-danger {
  border-radius: 0;
}
button.progress-button.btn.btn-danger .content:after, button.progress-button.btn.btn-danger .content:before {
  color: #640e0e;
}
button.progress-button.btn.btn-danger.progress-button-style-move-up .content, button.progress-button.btn.btn-danger.progress-button-style-slide-down .content {
  background-color: #e22929;
}
button.progress-button.btn.btn-danger.progress-button-style-lateral-lines .progress-inner {
  border-color: #e22929;
  background: 0 0;
}
button.progress-button.btn.btn-danger .progress {
  background-color: #e22929;
  box-shadow: 0 1px 0 #e22929;
}
button.progress-button.btn.btn-danger .progress-inner {
  background-color: #be1a1a;
}
button.progress-button.btn.btn-danger.progress-button-perspective {
  background: none;
}
button.progress-button.btn.btn-danger.progress-button-perspective .content {
  background-color: #e85656;
}

.btn-raised {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

.btn-mm {
  padding: 5px 11px;
  font-size: 13px;
}

.btn-xm {
  padding: 8px 14px;
  font-size: 16px;
}

.dropdown button.btn.btn-default.dropdown-toggle {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.dropdown button.btn.btn-default.dropdown-toggle:focus, .dropdown button.btn.btn-default.dropdown-toggle:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.bootstrap-select button.btn-default:focus {
  color: #ffffff;
}
.bootstrap-select .btn {
  transition: none;
}

