html{
  background-color: #ffffff !important;
}
body.blur-theme::before {
  background: #ffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body a {
  color: #c70202;
}

body a:hover {
  color: #123456;
}

a.collapse-menu-link:hover {
  color: #cb3328;
}

.dashboard-tab {
  margin-top: 20px;
}
.dashboard-tab .uib-tab {
  width: 25%;
  text-align: center;
  font-size: 200px;
}

#uib-tabs-width{
  width: 18%;
  text-align: center;

}
.dashboard-tab .tab-content {
  padding: 30px 15px 5px 15px;

  }
.dashboard-tab .custom-panel.panel {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}
.dashboard-tab .panel > .panel-body {
  padding: 15px 22px;
  height: 100%;
  padding: 0;
  margin-bottom: 0;
}
.dashboard-tab .custom-panel .panel {
  padding: 5px;
  background: #cb1925 !important;
}
.dashboard-tab .custom-panel h4 {
  margin-bottom: 0;
}
.dashboard-tab .custom-panel h5 {
  margin-bottom: 0;
}
.dashboard-tab h5.label-per {
  margin-top: 10px;
  border: 1px solid #fff;
  width: 29px;
  padding: 4px;
}
.dashboard-tab .tab-content {
  height: 100%;
}
.dashboard-tab .label-per a {
  color: #fff;
}
.dashboard-tab .panel-hide > .panel.panel-blur {
  background: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}
.dashboard-tab .pie-chart-item {
  padding: 0 16px;
}

.dashboard-side-label {
  color: black;
  padding-top: 5px;
}
.dashboard-side-label h4 {
  margin: 10px 60px 52px;

}

.dashboard-table {
  margin-top: 50px;
}
.dashboard-table .panel-title {
  text-align: center;
}

.dashboard-tab-left .uib-tab {
  width: 100% !important;
}

.custom-menu .al-msg-center {
  margin: 13px 47px 0 14px;
}

.custom-toggle-menu {
  font-size: 20px;
}

.top-dropdown-menu.custom-menu > a {
  text-align: left;
}

.custom-menu .dropdown-menu {
  padding: 0;
}

.blur-theme .nav.nav-tabs > li.active > a {
  background-color: #c70202;
}

.panel-hover {
  display: none;
}

.pie-chart-item-container:hover + .panel-hover {
  display: block;
  position: absolute;
  width: 63%;
  z-index: 1;
  margin: 0 14%;
  margin-top: -136px;
  height: 33px;
}

.panel-hover .panel.panel-blur {
  background: #bb0202;
}

.panel-hover:after {
  content: '';
  position: absolute;
  top: 57px;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 13px solid #bb0202;
}

.panel-hover .modal-buttons {
  margin-right: 0;
  margin-top: 0;
}

.al-sidebar-list-item.selected:not(.with-sub-menu) {
  background-color: #b30505;
  border-right: 1px solid #520202;
}

.sidebar-hover-elem {
  background: #b30505;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #cb1a26;
}

.panel.panel-blur {
  background: #ffff;
}

.page-top {
  background-color: #4e0303;
}

.page-top.scrolled {
  background-color: rgba(117, 21, 21, 0.87);
}

.tab-content .tab-pane p {
  color: #ffffff;
  margin-bottom: 0;
}

.back-top {
  color: #c70202;
}

.date-tab-heading {
  color: black;
}

.blur-theme .nav.nav-tabs > li.active > a {
  background: #8e1921  !important;
}

.blur-theme .nav.nav-tabs > li > a {
  background: #cb1925 !important;
}

.blur-theme .nav.nav-tabs > li > a:hover {
  background: #8e1921  !important;
}

.panel {
  color: black;
  box-shadow: 0 1px 5px 0 black;
  background: #ffff;
}

.date-grid-tab {
  background: #cb1925 !important;
  color: #ffff !important;
}
.date-grid-tab .panel-heading {
  padding: 0 !important;
}
.date-grid-tab .panel-title {
  text-transform: none !important;
}
.date-grid-tab .panel-heading {
  border-bottom: 0 !important;
  box-shadow: none !important;
  height: 40px !important;
}
.date-grid-tab .accordion-toggle:hover {
  color: #d8c1bf;
}

.channels-block.transparent .traffic-chart canvas {
  border: 10px solid #841018;
}

.channels-block.transparent .chart-bg {
  background: #841018;
}

.chart-values-indicator {
  background: #cb1925;
  padding: 20px;
}

.table-design {
  background: #C8C8C8   !important;
  color: #ffff !important;
}

.campaign-table-design {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
.campaign-table-design .panel-heading {
  text-align: center !important;
}
.tab-content{
  height : none;
}
.percent-circle{
  margin-left: 10px;
  padding-bottom: 5px;
}

.animate-show {
        max-height:250px !important;
        opacity: 1;
        overflow:auto;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    transition:all ease 0.75s;
}
.animate-show.ng-hide {
    max-height:0  !important;
    opacity:0;
}
ul.animate-show li {
 background-color:#9e3030;
 padding: 10px;
}
ul.animate-show li.selected {
 background-color:red;
}

.campaign-header{
    text-align: center;
}
.menu-header{
  background: #c3452f;
}
.menu-content{
  max-height: 700px !important;
  overflow-x: auto !important;
  background: #ffffff !important;
  color : #000 !important;

}

.camp-menu-content{
  /* max-height: 700px !important; */
  overflow-x: auto !important;
  background: #ffffff !important;
  color : #000 !important;

}

.panel-title{
  background: #bf321b;
  color: #ffffff;
  text-align: center;
  text-transform : none !important;
  font-weight : bolder !important;
  padding: 10px !important;
}
#ba-panel-title{
    text-align: center !important;
  text-transform : none !important;
  font-weight : bolder !important;
  padding: 10px !important;
}
.content-title{
  text-align: center;
  background: #cb1925 !important;
}
.pieChart-table{
  background: #c3452f !important;
}


.table > tbody > tr > td {
  border-top: 1px solid #ddd !important;
  }

.InventoryTable{
    height: 500px;
    display:block;
    overflow-y: auto;
    overflow-x: hidden;

}

.InventoryTable  thead {
    background-color: #c3452f;
    }

.InventoryTable th{
  font-weight: bold !important;
    color:#ffffff;
    background-color: #4E6D8C  ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
text-align: center;
  }

.InventoryTable  tr{
  font-weight: normal !important;
  color:#000000;

}
.InventoryTable  td{
  font-weight: normal !important;
  color:#000000;

}


.InventoryTable1 {
  height: 500px;
  display:block;
  overflow-y: auto;
  overflow-x: hidden;
  }

.InventoryTable1  thead {
  background-color: #cb1925;
  font:bold 13px/30px Arial, serif;
  color: white;
  }


.InventoryTable1  tbody {
  background-color: #fcfc5f;
  color: black;
  }



.campaignInvTable {
  max-height: 300px !important;
  overflow: auto !important;
  }

.campaignInvTable  thead {
    background-color: #cb1925 ;
    color: white;
    }


  .campaignInvTable  tbody {
  background-color: #fcfc5f;
  color: black;
      }



.LeadsTable {
  color: white;
  }

.LeadsTable  thead {
  background-color: #cb1925 ;
  color: white;
  }


.LeadsTable  tbody {
  background-color: #fcfc5f;
  color: black;

  }
.AvgLeadsTable tbody {
  background-color: #c3452f;
  color: white;

}
.supplierInvTable {
  max-height: 300px !important;
  overflow: auto !important;

  }


  .supplierInvTable  thead {
  background-color: #cb1925 ;
  color: white;
  }


  .supplierInvTable  tbody {
    background-color: #fcfc5f;
    color: black;
    }

  .RELEASETable {
    background-color: #fcfc5f;
    color: black;
  margin-left:-50px;
  margin-right:-50px;
  margin-top: 15px;
    }


    .RELEASETable  thead {
    background-color: #cb1925 ;
    color: white;
    width: 100%;
    margin-left:-50px;
    margin-right:-50px;
    margin-top: 15px;
    }

    .RELEASETable  tbody > td{
    font:bold 12px/30px Georgia, serif;
    margin-left:-50px;
    margin-right:-50px;
    margin-top: 15px;
    }

    .sidePanelTable {
      background-color: white;
      color: black;
      font-size: 15px;
      }


      .sidePanelTable  thead {
      background-color: #8e1921;
      color: white;
      width: 100%;
      border:1px solid black !important;
      }

      .sidePanelTable  tbody > tr > td{
        border:1px solid black !important;
      }

.zeroCampAct{
  color: rgb(195, 69, 47);
  padding-left : 30%;
}


.zeroInventory{
  color: rgb(195, 69, 47);
  font-size: 180px;
  margin-top: 100px;

}


.zeroInventory > h1{

  font-size: 15px;
  /* margin-top: 100px; */
  left: 100px;

}


.zeroLeads{
  color: rgb(195, 69, 47);
  font-size: 180px;
margin-left: 30px;
}


.zeroLeads > h1{

  font-size: 15px;
  /* margin-top: 100px; */
  left: 100px;

}
.multiselect-parent {
  color: black !important;
  border-color: black !important;
}

.multiselect-parent .dropdown-toggle {
  color: black !important;
  border-color: black !important;


}

.multiselect-parent .dropdown-menu {
  color: black !important;
  border-color: black !important;


}

#displayedFocus button:focus{
  transform: scale(1.2) !important;
  background: #800000 !important;

}


#ontimeonlocFocus button:focus{
  transform: scale(1.2) !important;
  background: #6DE726 !important;

}


.notassigned{
  color: rgb(195, 69, 47);
  padding-left : 30%;
  margin-top: 30px;
}

.showDisplayDetailsTable{
  height:350px !important;
  opacity: 1;
  overflow:auto;
  color: white;

}

.showDisplayDetailsTable  thead {
  background-color: #cb1925 ;
  color: #ffffff !important;
  }


.showDisplayDetailsTable  tbody {

background-color: #fcfc5f;
color: black;

}

.showDisplayDetailsTable  tfoot {
background-color: #cb1925 ;
color: #ffffff !important;
}

.showDisplayDetailsTable tfoot td {
  color: #ffffff !important;
  text-align: center;
}


.campaigndetailtable .table-responsive {
  max-height: 500px;
  overflow-y: auto;
}

.campaigndetailtable table {
  width: auto;
  max-width: auto;
}

.campaigndetailtable table td,
.campaigndetailtable table th {
  min-width: 200px;
}

.campaigndetailtable table thead tr th {
  background:#8e1921;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  /* width: 100px; */
  /* white-space: normal !important; */
}

.campaigndetailtable table tbody {

  /* display: block; */
  max-height: 300px;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.campaigndetailtable table tfoot {
  /* background: #d9534f;
  color: white; */
  /* display: block;
  max-height: 300px;
  overflow-y: auto; */
}

.campaigndetailtable table thead,
.campaigndetailtable table tbody tr {
  /* border: 1px solid black; */
  /* border-collapse: separate; */
  /* border-spacing: 4px;   */
  /* display: table;
  width: 100%;
  table-layout: fixed; */
}


.campaigndetailtable table thead,
.campaigndetailtable table tfoot tr {
  /* background: #d9534f;
  color: white; */
  /* display: table; */
  /* width: 100%; */
  /* table-layout: fixed; */
}

.campaigndetailtable table tbody tr td {
  text-align: center;
  /* width: 100px; */
}


.campaigndetailtable table tfoot tr td {
  background: #d9534f;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  /* width: 100px; */
}

.campaigndetailtable table thead tr th:nth-child(2) {
  text-align: center;
}

.campaigndetailtable table tbody tr td:nth-child(2) {
  text-align: center;
}

.campaigndetailtable table tfoot tr td:nth-child(2) {
  text-align: center;
}



.viewLeadstable {}

.viewLeadstable table thead tr th {
  background:#8e1921;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  white-space: normal !important;
}

.viewLeadstable table tbody {

  display: block;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.viewLeadstable table tfoot {
  /* background: #d9534f;
  color: white; */
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.viewLeadstable table thead,
.viewLeadstable table tbody tr {
  /* border: 1px solid black; */
  /* border-collapse: separate; */
  /* border-spacing: 4px;   */
  display: table;
  width: 100%;
  table-layout: fixed;
}


.viewLeadstable table thead,
.viewLeadstable table tfoot tr {
  /* background: #d9534f;
  color: white; */
  display: table;
  width: 100%;
  table-layout: fixed;
}

.viewLeadstable table tbody tr td {

  text-align: center;
  width: 100px;
}


.viewLeadstable table tfoot tr td {
  background: #d9534f;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 100px;
}

.viewLeadstable table thead tr th:nth-child(2) {
  text-align: center;
}

.viewLeadstable table tbody tr td:nth-child(2) {
  text-align: center;
}

.viewLeadstable table tfoot tr td:nth-child(2) {
  text-align: center;
}

.CampaignDetails{
  height: 60px !important;
}


#map_div {
        height: 480px;
}



.table > thead:first-child > tr:first-child > td {
    border-top: 0;
    color: #ffffff !important;
  }

.blinking{
    animation:blinkingText 0.8s infinite;
    font-size: 17px;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #123456;    }
}
.nvd3 g.nv-groups path.nv-line {
  stroke-width: 3px;
}

div.outer { overflow: scroll; }
div.outer .inner { width: 1900px; }

div.outerSociety { overflow: scroll; }
div.outerSociety .innerSociety { width: 2800px; }

div.outerdate { overflow: scroll; }
div.outerdate .innerdate { width: 2400px; }


div.outerdistributed { overflow: scroll; }
div.outerdistributed .innerdistributed { width: 1160px; }


div.outerFlat { overflow: scroll; }
div.outerFlat .innerFlat { width: 500px; }


div.dynamicOuterGraphs { overflow: scroll; }
div.dynamicOuterGraphs .dynamicInnerGraphs { width: 1000px; }


div.outerLocation { overflow: scroll; }
div.outerLocation .innerLocation { width: 1000px; }


div.outerVendor { overflow: scroll; }
div.outerVendor .innerVendor { width: 1200px; }

div.outerLastWeek { overflow: scroll; }
div.outerLastWeek .innerLastWeek { width: 1400px; }


div.outerLastWeekSummary { overflow: scroll; }
div.outerLastWeekSummary .innerLastWeekSummary { width: 1200px; }


div.outerPhase { overflow: scroll; }
div.outerPhase .innerPhase { width: 1000px; }

.dateHeading{
  width: 240px;
}
.dateHeading > * {
       display: table-cell;
       width: 3%;
}

.table-style{
  overflow-y: auto;
  overflow-x: auto;
  height: 350px;
}


.supplierTable-style{
  overflow-y: auto;
  overflow-x: auto;
  /* height: 350px; */
}

.equal-width td {
  width:50%;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #CD5C5C;
   color:#ffffff !important;
}


.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #EEB4B4;
   color:#ffffff !important;
}

.campDetailsLabel{
  font-size: 14px;
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

#loading-bar .bar {
background: #8e1921;
height: 4px;
}

#loading-bar-spinner .spinner-icon {
width: 18px;
height: 18px;
border: solid 4px transparent;
border-top-color: #c70202;
border-left-color:#c70202;
border-radius: 10px;
}

.emailModal{
  height: 150px;
  text-align: justify;
}

#ref {
    position: relative;
}
.popover {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 100%;
    top: 0;
    width: 200px;
    height: 60px;
    display: block;
    padding: 0 20px;
    /* z-index: 100; */
}

.campaigndetailtable > tbody > tr:nth-of-type(odd) > td green{
  color: #15ff15 !important;
}


.campaigndetailtable > tbody > tr:nth-of-type(odd) > td red{
  color: #B20000 !important;
}

.green{
  color: #15ff15 !important;
}
.red{
  color: #B20000 !important;
}
.tick line { display: none; }


.rotateImage0 {
  transform: rotate(0deg);
}

.rotateImage90 {
  transform: rotate(90deg);
  width: 600px !important;
  height: 600px !important;
  margin-top: -30px !important;
}
.rotateImage180 {
  transform: rotate(180deg);
}
.rotateImage270 {
  transform: rotate(270deg);

}

.multiselectParentDropdown .btn .caret{
    margin-left: 80px;
  }

.multiselectParentDropdown .multiselect-parent .dropdown-toggle  {
  width : 230px;
  }

.multiselectDropdown .btn .caret{
  margin-left: 40px;
  }

.multiselectDropdown .multiselect-parent .dropdown-toggle  {
 width : 210px;
  }
}
