.table {
  margin-bottom: 0px;
}
.table > thead > tr > th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
}
.table > thead > tr > th:first-child {
  text-align: center;
}
.table > thead > tr > th:last-child {
  padding-right: 16px;
}
.table > tbody > tr > tr:first-child {
  padding-top: 1px;
}
.table > tbody > tr > td {
  padding: 0px 8px;
  line-height: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.table > tbody > tr > td:first-child {
  text-align: center;
}
.table > tbody > tr > td:last-child {
  padding-right: 16px !important;
}

.table-id {
  text-align: left !important;
  width: 40px;
}

.table-arr {
  width: 5px;
  padding: 10px 8px 8px 0 !important;
}

.table-no-borders {
  border: none;
}
.table-no-borders td, .table-no-borders th, .table-no-borders tr {
  border: none !important;
}

.editable-wrap .btn-group.form-control {
  background-color: transparent;
}

.editable-tr-wrap .editable-wrap {
  vertical-align: super;
}
.editable-tr-wrap .editable-controls input.editable-input {
  width: 110px;
}
.editable-tr-wrap td {
  width: 20%;
}

.editable-table-button {
  width: 70px;
}

.add-row-editable-table {
  margin-bottom: 10px;
}

.add-row-editable-table + table {
  margin-bottom: 5px;
}

.select-page-size-wrap {
  width: 150px;
}

.table .header-row th {
  vertical-align: middle;
  padding: 0 8px;
}

tr.editable-row input.form-control {
  vertical-align: middle;
}

.select-td .editable-select {
  margin-bottom: 1px;
}

@media screen and (max-width: 1199px) {
  .editable-tr-wrap .editable-wrap {
    vertical-align: middle;
  }
}
.browser-icons {
  width: 41px;
}

.st-sort-ascent, .st-sort-descent {
  position: relative;
}

.st-sort-ascent:after, .st-sort-descent:after {
  width: 0;
  height: 0;
  border-bottom: 4px solid #ffffff;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-bottom: 2px;
}

.st-sort-descent:after {
  transform: rotate(-180deg);
  margin-bottom: -2px;
}

.sortable th {
  cursor: pointer;
}
.sortable th:after {
  content: '';
  display: inline-block;
  width: 8px;
  margin-left: 8px;
}

a.email-link {
  color: #ffffff;
}
a.email-link:hover {
  color: #e85656;
}

input.search-input {
  margin-left: -8px;
  padding-left: 8px;
}

.table .pagination {
  margin: 4px 0 -12px 0;
}
.table .pagination a {
  cursor: pointer;
}

.vertical-scroll {
  max-height: 214px;
}

.pagination > li > a, .pagination > li > span {
  background: transparent;
  background-color: #8e2321;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.status-button {
  width: 60px;
}

.table .editable-wrap .editable-controls, .table .editable-wrap .editable-error {
  vertical-align: sub;
}
.table .editable-wrap .editable-controls .btn, .table .editable-wrap .editable-error .btn {
  padding: 3px 8px;
}
.table .editable-wrap .editable-controls .btn.dropdown-toggle, .table .editable-wrap .editable-error .btn.dropdown-toggle {
  padding: 3px 20px;
  margin-top: 3px;
}
.table .editable-wrap .editable-controls input, .table .editable-wrap .editable-error input {
  line-height: 1px;
  height: 30px;
}

.form-inline button[type="submit"].editable-table-button {
  margin-left: 0;
}

.table > thead > tr > th {
  border-bottom: none;
}
.table > tbody > tr.no-top-border:first-child > td {
  border-top: none;
}

.black-muted-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #000000;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.table > tbody > tr.primary > td {
  background-color: rgba(32, 158, 145, 0.7);
  color: #ffffff;
  border: none;
}
.table > tbody > tr.primary > td a.email-link {
  color: #ffffff;
}
.table > tbody > tr.primary > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.success > td {
  background-color: rgba(144, 185, 0, 0.7);
  color: #ffffff;
  border: none;
}
.table > tbody > tr.success > td a.email-link {
  color: #ffffff;
}
.table > tbody > tr.success > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.warning > td {
  background-color: rgba(223, 184, 28, 0.7);
  color: #ffffff;
  border: none;
}
.table > tbody > tr.warning > td a.email-link {
  color: #ffffff;
}
.table > tbody > tr.warning > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.danger > td {
  background-color: rgba(232, 86, 86, 0.7);
  color: #ffffff;
  border: none;
}
.table > tbody > tr.danger > td a.email-link {
  color: #ffffff;
}
.table > tbody > tr.danger > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.info > td {
  background-color: rgba(45, 172, 209, 0.7);
  color: #ffffff;
  border: none;
}
.table > tbody > tr.info > td a.email-link {
  color: #ffffff;
}
.table > tbody > tr.info > td a.email-link:hover {
  color: #e85656;
}

.editable-click, a.editable-click {
  color: #ffffff;
  border-bottom: dashed 1px #ffffff;
}

th {
  font-weight: 400;
}

.editable-empty {
  color: #c54949;
}

.table > tbody > tr > th {
  border: none;
}

.table-striped > tbody > tr > td {
  border: none;
}

.pagination > li > a,
.pagination > li > span {
  color: #ffffff;
  border-color: #ffffff;
}

.pagination > li:first-of-type > a,
.pagination > li:first-of-type > span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination > li:last-of-type > a,
.pagination > li:last-of-type > span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #ffffff;
  background-color: rgb(224, 115, 113);
  color: #000000;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: rgb(224, 115, 113);
  color: #000000;
}

.editable-buttons .btn-with-icon i {
  margin-right: 0;
}

.table-responsive {
  margin-top: 10px;
  margin-bottom: 10px;
}
