/*#table-scroll {
  height:150px;
  overflow:auto;
  margin-top:20px;
  margin-left:20px;
}*/
#modalReAssign{
  margin-left: 60px;
  text-align: center;
}
.breadcrumb{
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
	background-color: transparent;
  font-size : x-large;
}
th{
  	background: #808080;
    text-align: center;
  	color: #fff;
}
body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
}
.footer1{
  margin-top: 235px;
  font-size : x-large;
}
.labels{
	margin-left: 55px;
}
.header-panel{
  margin-left: 10%;
  margin-right: 10%;
}
.panel-heading{
  text-align: center;
  background-color: #808080;
  color: white;
}

.table-panel{
  margin-left: 10%;
  margin-right: 10%;
  height: 60vh;
  overflow-y: auto;

}
.button-panel{
  text-align: right;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.btn{
  margin-left: 10px;
}
thead{
  position: initial;
}
tr:hover,tr.alt:hover
{
    background: #A0E8FF!important;
}
