<link rel="stylesheet" href="modules/pages/sheetToCampaign/sheetToCampaign.tmpl.css">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Campaign To Sheet</h3>
  </div>
  <div class="panel-body panel-default panel col-md-12" ng-if="!proposalCreated">
      <div class="panel-heading">
        <h4>Create Proposal</h4>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Select Organisation</label>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="model.organisation_id" ng-change="getAccounts(model.organisation_id)">
            <option ng-repeat="org in orgnisations" value="{{org.second_organisation.organisation_id}}">{{org.second_organisation.name}}</option>
          </select>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Select Account</label>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="model.account_id">
            <option ng-repeat="account in accounts" value="{{account.account_id}}">{{account.name}}</option>
          </select>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Proposal Name</label>
        </div>
        <div class="col-md-4">
          <input type="nunber" class="form-control" ng-model="model.name">
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Tentative Budget</label>
        </div>
        <div class="col-md-4">
          <input type="nunber" class="form-control" ng-model="model.tentative_cost">
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Advertising Area</label>
        </div>
        <div class="col-md-4">
          <input type="nunber" class="form-control" ng-model="model.centers[0].center.center_name">
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Location Address</label>
        </div>
        <div class="col-md-4">
          <input type="nunber" class="form-control" ng-model="model.centers[0].center.address">
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>City</label>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="model.centers[0].center.city" ng-change="getArea(cityKey[model.centers[0].center.city].id)">
            <option ng-repeat="city in cities" value="{{city.city_name}}">{{city.city_name}}</option>
          </select>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Area</label>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="model.centers[0].center.area" ng-change="getSubArea(areaKey[model.centers[0].center.area].id)">
            <option ng-repeat="area in areas" value="{{area.label}}">{{area.label}}</option>
          </select>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>SubArea</label>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="model.centers[0].center.subarea">
            <option ng-repeat="subarea in subAreas" value="{{subarea.subarea_name}}">{{subarea.subarea_name}}</option>
          </select>
        </div>

      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>PinCode</label>
        </div>
        <div class="col-md-4">
          <input type="nunber" class="form-control" ng-model="model.centers[0].center.pincode">
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Radius</label>
        </div>
        <div class="col-md-4">
          <input type="nunber" class="form-control" ng-model="model.centers[0].center.radius">
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-3">
          <label>Space Type</label>
        </div>
        <div class="col-md-4">
          <div class="" ng-repeat="space in spaces">
              <input type="checkbox" name="" value="" ng-model="space.selected" ng-click="checkSpace(space,model.centers[0])">&nbsp;{{space.name}}</br>
          </div>
        </div>
      </div></br>
      <div class="col-md-12">
        <div class="col-md-4" style="text-align:right">
          <button type="button" class="btn btn-danger" name="button" ng-click="createProposal()">Create Proposal</button>
        </div>

        <div class="col-md-2" style="text-align:right">
          <button type="button" class="btn btn-danger" name="button" ng-click="Proposalimport()">Manuualy Insert Proposal</button>
        </div>
        <!-- <div class="col-md-2" style="text-align:right">
          <button type="button" class="btn btn-danger" name="button" ng-click="importProposalSheet()">Import Sheet</button>
        </div> -->

      </div>
<br /><br /><br />
  </div>


  <div class="panel-body panel-default panel col-md-12" ng-if="Proposalsheetimport && !createsheetProposal">
    <div class="panel-heading" style="text-align:center">
      <h4>Proposal Basic Details</h4>
    </div>
  </div>
    <div class="panel-default panel col-md-12"  ng-if="Proposalsheetimport && !createsheetProposal">
      <div class="panel-heading" style="text-align:center">
        <h4>Convert Proposal To Campaign</h4>
      </div>
      <div class="panel-body col-md-3">
        <div class="row">

          <div ng-dropdown-multiselect="" options="searchSelectAllData" class="col-md-6"
              selected-model="searchSelectAllModel" extra-settings="searchSelectAllSettings"
               translation-texts="example5customTexts" events="events"></div>
        </div>

        </br></br></br></br>
      <div ng-dropdown-multiselect="" options="filters" class=""
          selected-model="filterModel" extra-settings="filterSettings"
           translation-texts="filterTexts">
      </div></br></br>

      <div class=" row">
        <label for="">Enter Invoice Number</label>
        <input type="text" class="form-control" ng-model="invoiceNumber.id">
      </div></br></br>
      <div class=" row">
        <div class = "col-md-12">
          <label>Enter Tentative Start Date</label>
          <p class="input-group">

            <input type="text" class="form-control col-md-4"  ng-model="dateData.tentative_start_date"  uib-datepicker-popup="yyyy-MM-dd" is-open="popup1"  min-date="" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}"/ required>

            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="popup1=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div></br></br>
      <div class=" row">
        <div class = "col-md-12">
          <label>Enter Tentative End Date</label>
          <p class="input-group">

            <input type="text" class="form-control col-md-4"  ng-model="dateData.tentative_end_date"  uib-datepicker-popup="yyyy-MM-dd" is-open="popup2"  min-date="" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}"/ required>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="popup2=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div></br></br>
      <div class="row">
        <button type="button" class="btn btn-danger" name="button" ng-click="submit()">Submit</button>
      </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="panel-body col-md-6">
        <div class="" style="height:60vh;overflow:">
          <h4>Suppliers List</h4>
          <table class="table-responsive table table-bordered/">
              <thead>
                <tr>
                  <th>Index</th>
                  <th>Name Of Supplier</th>
                </tr>

              </thead>
              <tbody>
                <tr ng-repeat="data in searchSelectAllModel">
                  <td>{{$index+1}}</td>
                  <td>{{societyData[data.id].name}}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
<form class="form-control" name="importCampaignSheet" ng-if="createsheetProposal && !Proposalsheetimport">
  <div name="importCampaignSheet" class="panel-default panel col-md-12" >
    <div class="panel-heading" style="text-align:center">
      <h4>Import Proposal Sheet To Campaign</h4>
    </div>
    <div class="panel-body col-md-3">

    <div class=" row">
      <label for="">Enter Invoice Number</label>
      <input type="text" class="form-control" ng-model="invoiceNumber.id">
    </div></br></br>
    <div class=" row">
      <div class = "col-md-12">
        <label>Enter Tentative Start Date</label>
        <p class="input-group">

          <input type="text" class="form-control col-md-4"  ng-model="dateData.tentative_start_date"  uib-datepicker-popup="yyyy-MM-dd" is-open="popup1"  min-date="" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}"/ required>

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div></br></br>
    <div class=" row">
      <div class = "col-md-12">
        <label>Enter Tentative End Date</label>
        <p class="input-group">

          <input type="text" class="form-control col-md-4"  ng-model="dateData.tentative_end_date"  uib-datepicker-popup="yyyy-MM-dd" is-open="popup2"  min-date="" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}"/ required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup2=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div></br></br>
    <div class=" row">
      <div class = "col-md-12">
        <label>Assigned By</label>
        <p class="input-group">
          <div class = "col-md-7">
            <select class="form-control" ng-model="assign.by" required>
              <option ng-repeat="user in userList" value="{{user.id}}">{{user.username}}</option>
            </select>
          </div>
        </p>
      </div>
    </div></br></br>
    <div class=" row">
      <div class = "col-md-12">
        <label>Assigned To</label>
        <p class="input-group">
          <div class = "col-md-7">
            <select class="form-control" ng-model="assign.to" required>
              <option ng-repeat="user in userList" value="{{user.id}}">{{user.username}}</option>
            </select>
          </div>
        </p>
      </div>
    </div></br></br>

    <div class="row">
      <label>Select Sheet</label>
      <input type="file" ngf-select = "uploadFiles($file, 1)" class="buttonfile" accept=".xlsx"/>

    </div>
    <div class="row">
      <br />
      <div class="">
        <button ng-click="importThroughSheet()" ng-disabled="importCampaignSheet.$invalid" class="btn btn-danger">Submit</button>
      </div>
    </div>
    </div>
    <div class="col-md-3">

    </div>
    <div class="panel-body col-md-6">
      <div class="" style="height:60vh;overflow:">
        <h4>Suppliers List</h4>
        <table class="table-responsive table table-bordered/">
            <thead>
              <tr>
                <th>Index</th>
                <th>Name Of Supplier</th>
              </tr>

            </thead>
            <tbody>
              <tr ng-repeat="data in searchSelectAllModel">
                <td>{{$index+1}}</td>
                <td>{{societyData[data.id].name}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

</form>

    <!-- </div> -->
  </div>
</div>
