<link rel="stylesheet" href="modules/pages/operations/opsExecutionPlan/opsExecutionPlan.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
<div><nav-bar></nav-bar></div>
<!-- <div ng-loading="loading"></div> --> <!--For displaying loading icon-->
</br></br></br>
<div ng-if="!backButton" permission="[campaign_manager]">
  <back-Button></back-Button>
</div>
<div class="header-panel">
  <!-- <div class="col2"> -->
    <div class="" permission = "[]">
      <div ncy-breadcrumb></div>
    <!-- </div> -->
  </div>
</div>
<div ng-loading="loading"></div> <!--For displaying loading icon-->
<div class="panel header-panel">
    <div ng-hide="!hideData" style="text-align:center"><label>No Results Found</label></div>
    <div class="pageTitle">
        <h3 ng-hide="hideData">Operations Execution Plan</h3>
    </div>

            <div class="panel-body" style="text-align:center;margin-top:-20px"  >
              <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <Label>Campaign Id:&nbsp;</Label><span class = "proposal-details">{{campaignId}}</span>
                    <Label class = "labels">Campaign Name:&nbsp;</Label><span class = "proposal-details">{{campaignName}}</span>
                    <Label class = "labels">BD Owner:&nbsp;</Label><span class = "proposal-details">{{bdOwner}}</span>
                    <Label class = "labels">Campaign State:&nbsp;</Label><span class = "proposal-details">{{campaignState}}</span>

                  </div>
                </div>
              </div>
            </div>

    </div>
<div class="panel-body">
  <div class="" ng-hide="hideData">
  <div class="">
    <div class="">
      <table st-table="campaignDataList" st-safe-src="paginationData" class="table table-striped" default-sort-reverse="true">
       <thead>
         <tr>
           <th colspan='9' style="background-color:#ffffff;">
             <input st-search="" placeholder="Search ..." class="form-control"  type="search"/>
           </th>
         </tr>
          <tr>
            <th ng-repeat="header in headings" class="col-md-1" style="text-align: center;">{{header.header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr st-select-row='inventory' style="text-align: center;" ng-repeat="inventory in campaignDataList | filter:query | filter: dateCode | filter:invCode">
            <div class="col-md-3">
              <select class="form-control spacing" ng-model="invCode">
                <option value="" disabled>FilterBy Inventory Type</option>
                <option value="{{paginationData.id}}">ALL</option>
                <option ng-repeat="inv in paginationData | orderBy : 'inv_type' | unique:'inv_type' | filter : {act_date: dateCode}" value="{{inv.inv_type}}">{{inv.inv_type}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-control spacing" ng-model="dateCode">
                <option value="" disabled>FilterBy Date</option>
                <option value="{{paginationData.id}}">ALL</option>
                <option ng-repeat="date in paginationData | orderBy : 'act_date' | unique:'act_date' | filter : {inv_type: invCode}" value="{{date.act_date}}">{{date.act_date}}</option>
              </select>
            </div>

            <br /><br />
            <td>{{$index+1}}</td>
            <td class="col-md-1"><a data-target="#supplierModal" data-toggle="modal" ng-click="getSupplierDetails(inventory)" permission = "[permissions.viewSupplierDetails]">{{inventory.supplier_name}}</a></td>
            <!-- <td class="col-md-1">{{inventory.inv_id}}</td> -->
            <td class="col-md-2">{{inventory.inv_type}}</td>
            <td class="col-md-2" ng-if="inventory.images.length > 0"><a data-target="#imageModal" data-toggle="modal" ng-click="setImageUrl(inventory.images)" permission = "[permissions.viewImages]">View Image</a></td>
              <td ng-if="inventory.images.length == 0"><label>No Image<label></td>
            <td class="col-md-2">{{inventory.act_name}}</td>
            <td class="col-md-2">{{inventory.act_date|limitTo:10}}</td>
            <td class="col-md-2">{{inventory.assigned_to}}</td>
            <td class="col-md-2"> <input type="checkbox" ng-model="inventory.status" ng-value="true" ng-click="addActivity($index,inventory)"></td>
            <td class="col-md-2">{{inventory.reAssign_date}}</td>
            <md-progress-linear md-mode="determinate" value="...">
              <td>
                <button class="btn btn-primary active" ngf-select="uploadImage($file,inventory)" permission = "[permissions.uploadImages]">Upload Image</button>
              </td>
            </md-progress-linear>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10" class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages=""></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<div class = "button-panel">
  <button class="btn btn-danger active notify"  data-target = "#reAssignModal" data-toggle = "modal" ng-disabled="!reAssign" permission = "[permissions.reAssignDates]">ReAssign</button>
  <button class="btn btn-danger active notify" ng-click="getSummary()" permission = "[permissions.viewSummary]">Summary</button>
  <button class="btn btn-danger active notify" ng-click="downloadImages()" ng-disabled="buttonDisable" permission = "[permissions.downloadImages]">Download</button>
</div>
<!--Start: Code for supplier details Modal Window -->
<div id="supplierModal" class="modal fade">
  <div class="modal-dialog" style="width:800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Supplier Details</h4>
        <hr/>
        <div class = "modal-body" style = "height: 200px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="header in supplier_headings" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: center;">
                <td>{{supplierData.supplier_id}}</td>
                <td>{{supplierData.name}}</td>
                <td>{{supplierData.area}}</td>
                <td>{{supplierData.subarea}}</td>
                <td>{{supplierData.city}}</td>
                <td>{{supplierData.state}}</td>
                <td>{{supplierData.zipcode}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for supplier details Modal Window -->
<!--Start: Code for showing image Modal Window -->
<div id="imageModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">View Image</h4>
        <hr/>
        <div class = "modal-body">
          <div class="carousel" id="slider" >
             <div class="carousel-inner">
                 <div class="item" ng-class="{active:!$index}" ng-repeat="image in imageUrlList">
                    <img ng-src="{{image.image_url}}" style="width:600px; height:400px;" class="img-responsive" alt="No Image Found"/></br>
                    Comment : {{image.comment}}
                 </div>
             </div>
              <a class="left carousel-control"  data-toggle="carousel" data-target = "#slider" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" data-toggle = "carousel" data-target = "#slider" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
             </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for showing image Modal  Window -->
<!--Start: Code for showing summary Modal Window -->
<div id="summaryModal" class="modal fade">
  <div class="modal-dialog" style="width:560px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Summary</h4>
        <hr/>
        <div class = "modal-body" style = "height: 460px;">
          <table class="table table-bordered">
            <thead>
              <th ng-repeat="header in dates">{{header.header}}</th>
            </thead>
            <tbody>
              <tr style="text-align: center;" ng-repeat="header in summaryHeaders">
                <td><label>{{header.header}}</label></td>
                <td>{{summaryData.Total[header.key]}}</td>
                <td>{{summaryData.Actual[header.key]||0}}</td>
                <td>{{((summaryData.Actual[header.key]||0)/summaryData.Total[header.key])*100|limitTo:5}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for showing summary Modal  Window -->

<div id="reAssignModal" class="modal fade">
  <div class="modal-dialog" style="width:560px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ReAssign User</h4>
        <hr/>
        <div class = "modal-body" style = "height: 150px;">
            <div class="row col-md-4" id="modalReAssign">
              <label>Activity Date </label>
              <input type="text" ng-model="activity_date" class="form-control spacing" uib-datepicker-popup="{{format}}" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" date-parser="{{format}}" ng-model-options="{timezone:'UTC'}"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div class="row col-md-4" id="modalReAssign">
              <label>Assigned To</label>
              <select class="form-control spacing" ng-model="userCode">
                <option ng-repeat="user in userList" value="{{user.id}}">{{user.username}}</option>
              </select>
            </div>
        </div>
        <button class="btn btn-danger active notify" ng-click="saveReAssignedActivities()">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- <div ng-class="{footer1:campaignDataList.length == 0 }"><footer-bar></footer-bar></div> -->
<!--Start: Code for loading progress bar -->
<!-- <div id="progressBarModal" class="modal fade" data-backdrop="static" data-keyboard="false">
</div> -->
<!--End: Code for loading progress bar -->
