html{
  background-color: #ffffff;
}
body{
	/* background-color: #ffffff !important; */
  overflow-x: hidden !important;

	font-family: Source Sans Pro;
	color: #707070;
}
th {
  background-color: #8e1921;
  color: white;

  }

  .st-sort-default:before {content: '\25B1'}
  .st-sort-ascent:before {content: '\25B2'}
  .st-sort-descent:before {content: '\25BC'}

#smartSearch{
  background-color: #ffffff;
  width: 2000px !important;
}
/*
.panel-heading{
  text-align: center;
  background-color: #d9534f;
  color: white;
} */

.table-responsive{
  overflow-x: visible !important;
}


/* .pageTitle{
  margin: 2%;
  margin-left: -100px;
  margin-right: -100px;
  width: 1000px;
  text-align: center;
  background-color: #d9534f !important;
	color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.panel-body{
  margin-left:50px;
  margin-right:50px;
  margin: 2%;
	overflow-x: visible !important;
	padding: 15px 0px 0px 0px;
} */




.campaignlisttable {}

.campaignlisttable table thead tr th {
  background:#8e1921;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  white-space: normal !important;
}

.campaignlisttable table tbody {

  display: block;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.campaignlisttable table tfoot {
  /* background: #d9534f;
  color: white; */
  display: block;
  max-height: 130px;
  overflow-y: auto;
}

.campaignlisttable table thead,
.campaignlisttable table tbody tr {
  /* border: 1px solid black; */
  /* border-collapse: separate; */
  /* border-spacing: 4px;   */
  display: table;
  width: 100%;
  table-layout: fixed;
}


.campaignlisttable table thead,
.campaignlisttable table tfoot tr {
  /* background: #d9534f;
  color: white; */
  display: table;
  width: 100%;
  table-layout: fixed;
}

.campaignlisttable table tbody tr td {

  text-align: center;
  width: 100px;
}


.campaignlisttable table tfoot tr td {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 100px;
}

.campaignlisttable table thead tr th:nth-child(2) {
  text-align: center;
}

.campaignlisttable table tbody tr td:nth-child(2) {
  text-align: center;
}

.campaignlisttable table tfoot tr td:nth-child(2) {
  text-align: center;
}

.campaignStatus::first-letter{
  text-transform: capitalize !important;
}

.email-button{
  color: white;
  background-color: rgb(115, 123, 171);
  width: 100%;
  height: 34px;
}

.email-button:hover{
  background-color: rgb(88, 97, 148);
  color: white;
}

.email-row {
  background: #f1f1f1c9;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 12px;
}
