.breadcrubStyle{
    margin-top: 130px !important;
}
.filterTrip1{
    text-align: left !important;
    background-color: transparent !important;
    color: black !important;
}
.clearall{
    font-size: 15px;
    color: firebrick;
    text-align: right;
    margin-left: 80px;
}
.topmarginlt{
    margin-top: 17px;
}
.shortlist{
    border-radius:0px; width:160px;
}
.viewdetail{
    border-radius:0px; width:160px; background-color:#fff
    !important;
}

rzslider .rz-bar {
  left: 10px;
  z-index: 1;
  width: 94%;
  height: 4px;
  background: #d8e0f3;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

rzslider .rz-pointer {
  top: -14px;
  z-index: 3;
  width: 32px;
  height: 0;
  cursor: pointer;
  background-color: #0db9f0;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

rzslider .rz-bar.rz-selection {
  z-index: 2;
  background: #2eb72e;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
