<link rel="stylesheet" href="modules/common/filters/filter-tab.tmpl.css"/>
<body id="top">
<!-- <script src="checklist-model.js"></script> -->
<!-- FILTERS -->
			<div class="col-md-3 filters offset-0">
			     <div class="padding20title"><h3 class="opensans dark">Filter by<span class="clearall">
						 <a uib-tooltip="Clear All filters" ng-click = "clearFilter()" >Clear All</span></a></h3></div>
				<div class="line2"></div>
				<!-- Location ratings -->
				<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
				  Location <span class="collapsearrow"></span>
				</button>
				<div id="collapse1" class="collapse in">
					<div class="hpadding20 topmarginlt">
						<div class="left wh70percent">
						<table>
							<tr><td ng-dropdown-multiselect="" options="locationValue"
								selected-model="locationValueModel"
								extra-settings="locationValueSettings"
								checkboxes="true"
								translation-texts="locationcustomTexts"></td>
								<!-- <td><button ng-click="getSubAreas()" ng-show="false">Find SubAreas</td> -->
								<td><a id="hold" value="false" ng-click="getSubAreas()" style="
    										margin-left: 29px;">FindSubAreas</a></td>
							</tr>

							</table><br>
							<!-- <div>
								<button class="btn" ng-click="getSubAreas()" >Search Sub Areas</button>
							</div><br> -->
					 	</div>
					 	<div class="left wh70percent" ng-show="showSubAreas">
					 	<div ng-dropdown-multiselect="" options="subLocationValue"
								selected-model="subLocationValueModel"
								extra-settings="locationSubAreaSettings"
								checkboxes="true"
								translation-texts="locationSubAreaCustomTexts">
					 	</div>
					 	</div>
					 <!-- <div class="col-md-4">
						  	<span class = "" ng-show ="choice == 'existing'">
						   	    <select name="bsSelect" id="bsSelect" ng-model="bsSelect" ng-change="getBusiness()">
						            <option  ng-repeat = "business in businesses" value="{{business.id}}">{{business.name}}</option>
					          </select>
				      	</span>
			      	</div> -->
			      	<!-- <div class="col-md-4">
			      		<select name="bsSelect" id="bsSelect" ng-model="">
			      			
			      		</select>
			      	</div> -->

				</div>
					<div class="clearfix"></div>
				</div>
    <!--End Location Rating-->
    <!-- Society Type-->
    <button type="button" class="collapsebtn topmarginlt" data-toggle="collapse" data-target="#collapse1">
				  Society Type  <span class="collapsearrow"></span>
	  </button>
				<div id="collapse1" class="collapse in">
					<div class="hpadding20 topmarginlt">
						<div class="left wh70percent">
								<div ng-dropdown-multiselect="" options="typeValue"
									selected-model="typeValuemodel"
									extra-settings="locationValueSettings"
									checkboxes="true"
									translation-texts="typecustomTexts">
								</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- End of Society Type -->
				<div class="line2"></div>
		<button type="button" class="collapsebtn topmarginlt" data-toggle="collapse" data-target="#collapse1">
						  Flat Quantity  <span class="collapsearrow"></span>
		</button>
		<div id="collapse4" class="collapse in">
			<div class="hpadding20">
				<div class="checkbox"  ng-repeat = "checkbox in checkboxes">
					<label>
						<input type="checkbox" ng-model = "checkbox.checked">{{checkbox.name}}
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- End of Flat Count -->
				<!-- Inventory Type -->
		<button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse4">
				  Inventory Type <span class="collapsearrow"></span>
		</button>
				<div id="collapse4" class="collapse in">
					<div class="hpadding20">
						<div class="checkbox" ng-repeat = "type in types">
							<label>
							  <input type="checkbox" ng-model = "type.checked">{{type.inventoryname}}
							</label>
							<!--<rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>-->
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- End of Inventory Type -->

				<!-- Price range -->
				<!--<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse2">
				  Price range <span class="collapsearrow"></span>
				</button>
				<rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
				<div class="line2"></div>
				<div class="clearfix"></div>
				<br/>
				<br/>
				<br/>-->
				<button type="submit" class="btn btn-default" ng-click="filterSocieties(typeValuemodel, locationValueModel, subLocationValueModel, checkboxes, types)">Apply</button>
					<!--Apply <span class="collapsearrow"></span>-->
				</button>
		</div>
			<!-- END OF FILTERS -->
			<sort-bar><sort-bar>
