<link rel="stylesheet" href="modules/pages/campaignStatus/completedCampaigns/completedCampaign.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div class="nav"><nav-bar></nav-bar></div>
<div class="first">
  <div class="panel panel-default">
    <div class="panel-heading" style="text-align:center">
      <h1>Completed Campaigns</h1>
    </div>
      <div class="panel-body ">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <th ng-repeat="header in headers">{{header.header}}</th>
            </thead>
            <tbody>
              <td ng-repeat="header in headers">{{header.header}}</td>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
