 <div class="hpadding20">
	 <div class="line4"></div>
	 <span class="opensans dark size16 bold">Basic Details</span><br><br>
 </div>
 <div class="hpadding20" ><!--ng-controller="societyDetailsCtrl"-->
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey" style="color:#0fa491;"><span>{{society.flatCount}}</span><br>
           <label style="font-size:15px;" class="grey">No.of Flats </label>
				</div>
				<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15"  style="color:#0fa491;"><span>3</span><br>
         <label style="font-size:15px;"class="grey">Types of Flat</label>
		  </div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15" style="color:#0fa491;">{{society.flatCount}}<br>
           <label style="font-size:15px;" class="grey">Avg flat/carpet area</label>
				</div>
			  <div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<br/>
 </div>
 <div class="hpadding20"><!-- ng-controller="societyDetailsCtrl"-->
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491;"><span>{{society.residentCount}}</span><br>
        <label style="font-size:15px;" class="grey">Estimated residents</label>
			</div>
		 <div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15" style="color:#0fa491;">{{society.flatCount}} BHK <br>
         <label style="font-size:15px;" class="grey">No.of Towers</label>
		  </div>
			<div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0">
	  <div class="sctext left margtop15" style="color:#0fa491;">{{society.averageRent}}/sq ft<br>
      <label style="font-size:15px;" class="grey">Avg rent/sq.ft</label>
		</div>
		<div class="clearfix"></div>
  </div>
	 <div class="clearfix"></div>
	 <br/>
 </div>
  <div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size16 bold ">Ammenities</span><br><br>
	</div>
	<div class="hpadding20">
	  <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 grey">
				 <img src="icons/ic_playing area.png"/>&nbsp;Children Play Area<br><br>
       </div>
			 <div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_parking.png"/>&nbsp;Parking Place <br><br>
      </div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_open space area.png"/>&nbsp;Open Space Area<br><br>
      </div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
    <br/>
 </div>
  <div class="hpadding20">
		<div class="col-md-4 offset-0">
      <div class="sctext left margtop15 grey">
				<img src="icons/swim.png"/>&nbsp;Swimming Pool<br><br>
      </div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_gym.png"/>&nbsp;Gymnasium <br><br>
      </div>
		<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
		  <div class="sctext left margtop15 grey">
				<img src="icons/cafe.png"/>&nbsp;Cafeteria<br><br>
      </div>
			<div class="clearfix"></div>
    </div>
		<div class="clearfix"></div>
		<br/>
	 </div>
  <!--Map Started-->
  <div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size16 bold ">Map</span><br><br>
	</div>
	<div><!-- ng-controller="MapCtrl"-->
   <div id="map" style = "width:100%; height: 500px;"></div>
   <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
         <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
           <label id="names" >{{marker.title}}</label>
			   </a>
   </div>
  </div>
<!--<div d="map-canvas"></div>Map End-->
  <!--Preferences Start-->
		<div class="hpadding20">
			 <div class="line4"></div>
         <span class="opensans dark size16 bold">Preferred business type</span><br><br>
    </div>
		<div class="hpadding20">
			 <div class="col-md-4 offset-0">
				 <div class="sctext left margtop15 grey">
					 <img src="icons/ic_food_beverage.png"/>&nbsp;Food & Beverage<br><br>
         </div>
         <div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 grey">
				 <img src="icons/ic_medical.png"/>&nbsp;Medical <br><br>
       </div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_retail.png"/>&nbsp;Retail<br><br>
      </div>
			<div class="clearfix"></div>
	  </div>
		<div class="clearfix"></div><br/>

	 </div>
   <div class="hpadding20">
			<div class="col-md-4 offset-0">
				 <div class="sctext left margtop15 grey">
					 <img src="icons/ic_medical.png"/>&nbsp;Health & Fitness<br><br>
         </div>
         <div class="clearfix"></div>
			</div>
			<div class="col-md-4 offset-0">
				 <div class="sctext left margtop15 grey">
					 <img src="icons/ic_events.png"/>&nbsp;Events <br><br>
         </div>
				 <div class="clearfix"></div>
			</div>
			<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_electronics.png"/>&nbsp;Electronics<br><br>
        </div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div><br/>
   </div>
   <div class="hpadding20">
			<div class="col-md-4 offset-0">
				 <div class="sctext left margtop15 grey">
					  <img src="icons/ic_grocery.png"/>&nbsp;Grocery<br><br>
         </div>
				 <div class="clearfix"></div>
			</div>
			<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_boutiques.png"/>&nbsp;Boutique<br><br>
        </div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 offset-0">
				 <div class="sctext left margtop15 grey">
					 <img src="icons/ic_workshop.png"/>&nbsp;Workshop<br><br>
			   </div>
				 <div class="clearfix"></div>
   	 </div>
		 <div class="clearfix"></div><br/>
   </div>

  <div class="hpadding20">
		<div class="col-md-4 offset-0">
      <div class="sctext left margtop15 grey">
				<img src="icons/ic_medical.png"/>&nbsp;Health & Fitness<br><br>
      </div>
			<div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_events.png"/>&nbsp;Events <br><br>
      </div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_electronics.png"/>&nbsp;Electronics<br><br>
      </div>
			<div class="clearfix"></div>
		</div>
		 <div class="clearfix"></div><br/>
		</div>
    <div class="hpadding20">
			<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_grocery.png"/>&nbsp;Grocery<br><br>
        </div>
        <div class="clearfix"></div>
			</div>
			<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_boutiques.png"/>&nbsp;Boutique<br><br>
        </div>
				<div class="clearfix"></div>
      </div>
			<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_workshop.png"/>&nbsp;Workshop<br><br>
        </div>
				<div class="clearfix"></div>
			</div>
			 <div class="clearfix"></div><br/>
			 <div class="line4"></div>
		  </div>
		<!--Preferences End-->
    <!--Dos and Don't Start-->
    <div class="hpadding20"></div>
    <!-- Collapse 1 -->
		<button type="button" class="collapsebtn2" data-toggle="collapse" data-target="#collapse6">
						 Do's and Dont's<span class="collapsearrow"></span>
		</button>
    <div id="collapse6" class="collapse in">
				<div class="hpadding20">
					<div class="col-md-12">
						 <ul class="checklist grey">
							 <li>Climate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate control</li><br>
							 <li>Climate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate control</li><br>
							 <li>Climate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate control</li><br>
							 <li>Climate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate controlClimate control</li>
						 </ul>
						</div>
					</div>
					<div class="clearfix"></div>
			</div>
	<!-- End of collapse 1 -->
  <!--Dos and Don't End-->
	<!--Issues and resolution Start-->
    <div class="hpadding20">
				div class="line4"></div>
		</div>
  <!-- Collapse 2 -->
		<button type="button" class="collapsebtn2" data-toggle="collapse" data-target="#collapse1">
				Issue's and Resolutions<span class="collapsearrow"></span>
		</button>
		<div id="collapse1" class="collapse in">
			 <div class="hpadding20" style="color:#000">
					<span style="color:#0fa491">Q</span>. Situated near the sea, this hotel is close to Centre de Arte Contemporaneo, Malaga Cathedral, and Malaga Amphitheatre. Also nearby are Alcazaba and Picasso's Birthplace.
			 </div><br>
       <div class="hpadding20">
					Situated near the sea, this hotel is close to Centre de Arte Contemporaneo, Malaga Cathedral, and Malaga Amphitheatre. Also nearby are Alcazaba and Picasso's Birthplace.
			 </div><br><br>
			 <div class="hpadding20" style="color:#000">
				 <span style="color:#0fa491">Q</span>. Situated near the sea, this hotel is close to Centre de Arte Contemporaneo, Malaga Cathedral, and Malaga Amphitheatre. Also nearby are Alcazaba and Picasso's Birthplace.
			 </div><br>
       <div class="hpadding20">
					Situated near the sea, this hotel is close to Centre de Arte Contemporaneo, Malaga Cathedral, and Malaga Amphitheatre. Also nearby are Alcazaba and Picasso's Birthplace.
			 </div>
		</div>
		<br><br>
		<div class="clearfix"></div>
		<!-- End of collapse 2 -->
  <!--Issues and resolution End-->
		<div class="clearfix"></div>
