<div class="hpadding20">
 <div class="row">
  <div class="col-md-10" style="text-align: center;">
   <div class="row">

<!-- Start: Carousel added to slide images -->
    <div class="carousel" id="slider-Flier" style="margin-left:40px;">
    <div class="carousel-inner" >
    <div class="item Image" ng-class="{active:!$index}"  ng-repeat="image in FlierImages">
      <div class="row">
        <img ng-src="{{image}}" width="300px" height="180"/>
        <img ng-src="{{FlierImages[$index+1]}}"  width="300px" height="180" ng-if="FlierImages[getSecondIndex(FlierImages,$index+1)]"/>
      </div>
      <a class="left carousel-control" data-toggle="carousel" data-target = "#slider-Flier" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control"   data-toggle="carousel" data-target = "#slider-Flier" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
      </a>
    </div>
</div>
</div>
<!-- End: Carousel added to slide images -->
   </div>
  </div>
 </div><br>
</div>
<div ng-if="inventoryDetails.d2d_allowed">
 <div class="hpadding20">
	<div class="line4"></div>
		<span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Door to Door Flier Distribution</span><br>
    <span class="opensans dark size16 bold grey">Frequency of flier distribution :{{inventoryDetails.flier_frequency}}/Month</span><br><br>
  </div>
<!--1st row-->
<div class="hpadding20" style="text-align:center">
	<div class="col-md-4 offset-0">
    <div class="sctext left margtop15" style="color:#0fa491"><span>{{flatcountflier}}</span><br>
      <center><label style="font-size:15px; color:#c0c0c0">Total no.of Flats</label></center>
    </div>
    <div class="clearfix"></div>
	</div>
	<div class="col-md-4 offset-0"></div>
	<div class="col-md-4 offset-0"></div>
	<div class="clearfix"></div><br/>
</div>
</div>
<div ng-if="inventoryDetails.mailbox_allowed">
<div class="hpadding20">
	<div class="line4"></div>
		<span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Mailbox Flier Distribution</span><br>
    <span class="opensans dark size16 bold grey">Frequency of flier distribution : {{inventoryDetails.flier_frequency}}/Month</span><br><br>
</div>
<div class="hpadding20" style="text-align:center">
	<div class="col-md-4 offset-0">
    <div class="sctext left margtop15" style="color:#0fa491"><span>{{flatcountflier}}</span><br>
      <center><label style="font-size:15px; color:#c0c0c0">Total No.of mailbox</label></center>
    </div>
    <div class="clearfix"></div>
	</div>
	<div class="col-md-4 offset-0"></div>
  <div class="col-md-4 offset-0"></div>
  <div class="clearfix"></div><br/>
</div>
</div>
