<link rel="stylesheet" href="modules/pages/manageCampaign/manage-campaign.tmpl.css" />
<div><nav-bar></nav-bar></div>
<div class="campaignTabs">
	<!-- <div><span class="glyphicon glyphicon-menu-hamburger" ng-click="getMenu()"></span></div> -->
	<!-- <div class="col-md-3 overlay" ng-show="menuItem">
    <div class="dashboard-left offset-0 textcenter">
			<button class="close" style="font-size:30px;color:red" ng-click="closeMenu()">&times;</button>

    <br/><br/>
    <div class="collapse navbar-collapse" class = "divpadding">
      <ul class="nav dashboard-tabs nav-stacked" style="font-size:14px">
        <li ng-class="{active: isActive('/manageCampaign/create')}"><a ng-href="/#/manageCampaign/create" class="lipadding">Create Business</a></li>
				<li ng-class="{active: isActive('/OpsDashBoard')}"><a ng-href="/#/OpsDashBoard" class=" lipadding">OpsDashBoard</a>
       </li>
				<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-href="#">Leads <span class="caret"></span></a>
          <ul class="dropdown-menu lftwidth">
            <li><a href="/#/manageCampaign/shortlisted" data-toggle="tab">Shortlisted</a></li>
            <li><a href="/#/manageCampaign/requested" data-toggle="tab">Requested</a></li>
            <li><a href="/#/manageCampaign/finalized" data-toggle="tab">Finalized</a></li>
          </ul>
        </li>
        <li ng-class="{ active: isActive('/#/manageCampaign/finalize')}"><a ng-href="/#/manageCampaign/finalize" class = "lipadding">Finalize Campaigns</a></li>
        <li ng-class="{ active: isActive('/#/manageCampaign/finalize')}"><a ng-href="/#/manageCampaign/finalize" class = "lipadding">Upcoming Campaigns</a></li>
				<li ng-class="{ active: isActive('/#/manageCampaign/release')}"><a ng-href="/#/manageCampaign/release" class = "lipadding">Release Details</a></li>
        <li ng-class="{ active: isActive('/society/{{societyId}}/basicPricing')}"><a ng-href="#/manageCampaign/ongoingcampaign" class = "lipadding">Ongoing Campaigns</a></li>
        <li ng-class="{ active: isActive('/society/{{societyId}}/standeeBanners')}"><a ng-href="#/society/{{societyId}}/standeeBanners" class = "lipadding">Completed Campaigns</a></li>
        <li ng-class="{ active: isActive('/society/{{societyId}}/stalls')}"><a ng-href="#/society/{{societyId}}/stalls" class = "lipadding">Booked Campaigns</a></li>
       </ul>
    </div>
  </div>
  </div> -->
  <div class="content1"><div ui-view=""></div></div>
</div>
<!-- <div><footer-bar></footer-bar></div> -->
