<link rel="stylesheet" href="modules/common/campaignList/campaign-list.tmpl.css"/>
<!-- LIST CONTENT-->
		<div class="rightcontent col-md-9 offset-0">
			<div class="hpadding20">
				<!-- Top filters -->
				<div class="topsortby">
				 <div class="col-md-4 offset-0">
					 <!--<div class="left mt7"><b>Sort by:</b></div>-->
					 		<div class="right wh70percent">
								<!--<button class="popularbtn" ng-click="order('society_name')">Alphabetically</button>-->
								<span class="sortorder" ng-show="predicate === 'society_name'" ng-class="{reverse:reverse}"></span>
							</div>
					</div>
				</div>
				<!-- End of topfilters-->
	  </div>
			<!-- End of padding -->
			<div class="itemscontainer offset-1">
				<div class="offset-2" ng-repeat="row in model | orderBy:predicate:reverse">
					<table cellpadding="30" class="hpadding20 table table-bordered">
					 <tbody>
						 <tr valign="center">
								<td colspan="4" >
									<div class="col-md-4 offset-0">
								 		<img style="height: 175px;width: 230px;" ng-src = "http://mdimages.s3.amazonaws.com/MD_MUMTOBHRSJH_3dm0frxabW" alt=""/>
								 </div>
								 <div class="col-md-8 offset-0" style="padding-left:8px;">
										<div class="col-md-7 hpadding20">
											 <h4>{{row.business.name}} Ad Campaign</h4>
											 <div style="color:#949292">
											   <p >Business Type: {{row.business.type}} , {{row.business.sub_type}}</p>
											   <p>Campaign Types:</p>
											   <p ng-repeat="key in row.types">{{key.type}} - {{key.sub_type}}</p>
											   <p>Duration: {{row.start_date}} - {{row.end_date}}</p>
											  </div>
										</div>
										<div class="col-md-5 hpadding20" style="margin-top:20px">
											<!--<button type="button" class="shortlist btn btn-danger btn-lg active" ng-click = "shortlistThis($parent.$index)">BOOK</button><br><br>-->
											<button type="button" class="list-button btn btn-danger btn-lg active" ng-click = "societyList(row.id)">View Societies</button>
										</div>
										<div class="col-md-5 hpadding20" style="margin-top:20px">
											<button type="button" class="list-button btn btn-danger btn-lg active" ng-click = "bookCampaign(row.id)">Book Campaign</button>
										</div>
								 </div>
								</td>
							</tr>
							<tr align="center">
								 <td><h4>{{row.society_count}}</h4><p style="color:#949292">No Of Societies</p></td>
								 <td><h4>{{row.info.flat_count}}</h4><p style="color:#949292">No of Flats</p></td>
								 <td><h4>{{row.info.resident_count}}</h4><p style="color:#949292">Estimated Residents</p></td>
								 <td><h4>{{row.info.ad_spaces}}</h4><p style="color:#949292">Total Ad Spaces</p></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- End of offset1-->
			<!-- removed pagination code-->
		</div>
		<!-- END OF LIST CONTENT-->
