html{
  background-color: #ffffff;
}
.bodyClass{
	background-color: #ffffff;
}
.page-container{
	padding: 5px;
	position: relative;
}
.content{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.business-panel{
	margin-top: 0px;
	padding: 10px;
border-color: #000000;
	align-self : center;
color:#000000;
}
.businessButton a{
	color: #ffffff;
}

.form{
	padding: 9px;
}

.choices{
	font-size: 15px;
	margin-top: 40px;
	/*width: 1200px;*/
}
.choices.form-group {
	padding: 20px;
}
.show-error{
	font-size: 15px;
	color: red;
}
.submit-button{
	padding-top: 10px;
}
.textbox
{
		padding: 5px;
}
.input-size{
	/*width: 100% !important;*/
	align-self: right !important;
}
.detail-button{
	font-size: 12px;
	margin-top: 5px;
}
.head{
	text-align: center;
}
/* .table-align{
	margin-left: 20px;
} */
.modal-open {
  overflow-y: scroll;
}

/* .breadcrumb{ */
	/*width:50%;*/
	/* margin-right: auto;
	margin-left: auto;
	background-color: transparent;
	font-size : x-large;
} */

.detailModal{
	width : 1000px;
}
/* .choicePanel{
	border-color: white !important;
	background-color: #ffffff  !important;
} */
.form-organisation-list{
	max-height: 200px;
	 max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
/* .tableBodyList{
  max-height : 400px;
	overflow : auto
} */
.panel-default > .panel-heading {
	color : white !important;
	background-color: #d9534f !important;
	border-color: #ddd !important;
}

tr{
  text-align: center;
}
