<link rel="stylesheet" href="modules/common/sortbar/sort-bar.tmpl.css"/>
<!-- LIST CONTENT-->
		<div class="rightcontent col-md-9 offset-0">
			<div class="hpadding20">
				<!-- Top filters -->
				<div class="topsortby">
				 <div class="col-md-4 offset-0">
					 <div class="left mt7"><b>Sort by:</b></div>
					 		<div class="right wh70percent">
								<button class="popularbtn" ng-click="order()">Alphabetically</button>
								<span class="sortorder" ng-show="predicate === 'society_name'" ng-class="{reverse:reverse}"></span>
							</div>
					</div>
					<div class="col-md-6">
						<div class="w50percent">
							<div class="wh90percent">
								<button class="popularbtn">Last Booked Campaign</button>
							</div>
						</div>
						<div class="w50percentlast">
							<div class="wh90percent">
								<button class="popularbtn">Total Campaign Done</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of topfilters-->
	  </div>
			<!-- End of padding -->
			<div class="itemscontainer offset-1">
				<div class="offset-2"  dir-paginate="row in model | itemsPerPage:5">
				<!-- <div class="offset-2"  ng-repeat="row in model"> -->
					<table cellpadding="30" class="hpadding20 table table-bordered">
					 <tbody>
						 <tr valign="center">
								<td colspan="4" >
									<div class="col-md-4 offset-0">
								 		<img style="height: 175px;width: 230px;" ng-src = "http://mdimages.s3.amazonaws.com/{{row.society_image.image_url}}" alt=""/>
								 </div>
								 <div class="col-md-8 offset-0 ">
										<div class="col-md-7 hpadding20" style="margin-top:20px">
											 <h4>{{row.society_name}},{{row.society_address1}}</h4>
											 <p style="color:#949292"><span class="fa fa-map-marker"></span>{{row.society_location}}</p>
										</div>
										<div class="col-md-5 hpadding20" style="margin-top:20px">
											<button type="button" class="shortlist btn btn-danger btn-lg active" id = "row.supplier_id" ng-click = "shortlistThis(row.supplier_id, $index)"  ng-disabled = "model[$index].disable">SHORTLIST</button><br>
											<div id = "{{'alert_placeholder' + $index}}"></div><br>
											<button type="button" class="viewdetail btn btn-default btn-lg active" ng-click = "catalogue(row.supplier_id)" >VIEW DETAILS</button>
										</div>
								 </div>
								</td>
							</tr>
							<tr align="center">
								 <td><h4>{{row.society_type_quality}}</h4><p style="color:#949292">Type of society</p></td>
								 <td><h4>{{row.society_location_type}}</h4><p style="color:#949292">Locality rating</p></td>
								 <td><h4>{{row.machadalo_index}}</h4><p style="color:#949292">Machadalo Index</p></td>
								 <td><h4>{{row.total_adspaces}}</h4><p style="color:#949292">Ad Spaces</p></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- End of offset1-->

			<div class="hpadding20">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls>
			</div>
		</div>
		<!-- END OF LIST CONTENT-->
