/*body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
}
*/
th{
  	background: #808080;
    text-align: center;
  	color: #fff;
}
td{
  text-align: center;
}
body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
  /*text-align: center;*/
}
.radio{
    text-align: left;
		margin-left: 40px;
}
.proposal-panel{
	margin-top: 70px;
}

.labels{
	margin-left: 55px;
}

.center-heading{
	text-align: center;
	margin-bottom: 10px;
}

.society-heading{
	margin-top: 14px;
	margin-left: -9px;
}

.update-button{
	margin-top: 20px;
	margin-left: 82px;
}

.center-details{
	margin-left: 0px;
}

.proposal-details{
	margin-left: 10px;
}
.invoiceButton{
	text-align:right;
	margin-right:125px;
	margin-top: 10px
}
.breadcrumb{
	background-color: transparent;
  font-size : x-large;
}
.page-header{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
