<link rel="stylesheet" href="modules/pages/currentProposal/currentProposal.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<form name="proposalDetails" ng-hide="showEdit" class = "proposal-panel">
  <!-- <back-Button style="text-align:left"></back-Button> -->
  <div ng-loading="loading"></div> <!--For displaying loading icon-->
  <div class = "container">
    <div class="breadcrumb" ncy-breadcrumb></div>
    <div class="pageTitle" style="text-align:center">
      <h3 style="color:#ffffff;">{{proposalState}} Proposal for {{clientName}}</h3>
    </div>
      <div class="row">
        <div class="panel-body panel-default">
          <div class="panel-heading">
            <Label>Proposal Id:</Label><span class = "proposal-details">{{proposal.proposal_id}}</span>
            <Label class = "labels">Name of Proposal:</Label><span class = "proposal-details">{{proposal.name}}</span>
            <Label class = "labels">Tentative Cost:</Label><span class = "proposal-details">{{proposal.tentative_cost}} </span>
            <!-- <a class = "labels" ng-if="isParentProposal == 'true'" href="" ng-click="editInitialProposal(proposal.proposal_id)"><b>Edit Proposal</b></a>
            <a class = "labels" data-target="#invoiceModal" data-toggle="modal"><b>Enter Invoice Details</b></a> -->
          </div >
          <br>
          <div class="row">
            <div class="col-md-10 center-heading"><label>Advertising Location Details:</label></div>
          </div>
          <div class = "row center-details">
            <div class="col-md-2 table-align" ng-repeat="header in centerheaders"><b>{{header.header}}</b></div>
          </div>
          <div ng-repeat="center in center_data">
            <div class = "row center-details">
              <div class="col-md-2 table-align">{{$index+1}}</div>
              <div class="col-md-2 table-align">{{center.center.center_name}}</div>
              <div class="col-md-2 table-align">{{center.center.area}}</div>
              <div class="col-md-2 table-align">{{center.center.subarea}}</div>
              <div class="col-md-2 table-align">{{center.center.radius}}</div>
              <div class="col-md-2 table-align" >
                <div class="" ng-repeat="(key, value) in center.suppliers track by $index">
                  {{key}}:&nbsp;&nbsp;{{(value).length}}
                </div><br>
              </div>
            </div>
          </div>
         </div>
      </div>
      <div class="panel-body" style="text-align:right">
        <div>
          <button class="btn btn-danger"  ng-click="editInitialProposal(proposal.proposal_id)">View On Map/Grid</button>
        </div>
      </div>
      <br>
      <!-- <div class="col-md-3"><label>Select Advertising Location:</label>
        <select class="form-control" style="width:50%;"ng-model="current_center_id" ng-change="selectCenter(current_center_id)">
          <option ng-repeat="center_var in center_data" value="{{center_var.center.id}}">{{center_var.center.center_name}}</option>
        </select>
      </div> -->
      <!-- <div class="col-md-6">
      </div> -->
      <div style="text-align:right">
        <div class="panel-body">
          <button ng-hide="hideData" class="btn btn-danger" ng-disabled="!invoiceStatus" data-target="#invoiceModal" data-toggle="modal" permission = "[permissions.addInvoiceDetails]">
            <b>Enter Invoice Details</b>
          </button>
        </div>
      </div>
  </div>
</form>
<!-- Start: Display supplier details for selected center-->
<!-- <div class = "container page-panel"  ng-if="current_center_id">
  <div class = "row">
    <div ng-if="current_center_data.filters.society_allowed">
      <div><button class="society-heading btn btn-danger" style="margin-left:5px"ng-click="isSociety=!isSociety">Click Here For Society Details</button></div>
      <div uib-collapse="! isSociety" ng-if="current_center_data.suppliers['RS'].length == 0"><label style="padding-left:250px;font-size:24px">{{errorMsg}}<label></div>
      <div class="table-responsive" ng-if="current_center_data.suppliers['RS'].length > 0">
       <h5 class="panel-heading head" style="text-align:center" uib-collapse="! isSociety"><b><h3>Society Details</h3></b></h5>
        <div uib-collapse="! isSociety">
          <table class="table table-bordered  society" fixed-header>
            <thead>
              <tr>
               <th class="col-md-1 table-heading">Sr.No</th>
               <th class="col-md-1 table-heading">Society</th>
               <th class="col-md-1 table-heading">Area</th>
               <th class="col-md-1 table-heading">Sub Area</th>
               <th ng-if="current_center_data.societyFilters.inv_poster" class="col-md-1 table-heading">Poster Count</th>
               <th ng-if="current_center_data.societyFilters.inv_standee" class="col-md-1 table-heading">Standee Count</th>
               <th ng-if="current_center_data.societyFilters.inv_stall"  class="col-md-1 table-heading">Stall Count</th>
               <th ng-if="current_center_data.societyFilters.inv_flier" class="col-md-1 table-heading">Flyer Count</th>
               <th class = "col-md-1">Status</th>
               <th class = "col-md-1">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat=" supplier in current_center_data.suppliers['RS']">
                <td>{{$index+1}}</td>
                <td>{{supplier.name}}</td>
                <td>{{supplier.area}}</td>
                <td>{{supplier.subarea}}</td>
                <td ng-if="current_center_data.societyFilters.inv_poster">{{supplier.tower_count}}</td>
                <td ng-if="current_center_data.societyFilters.inv_standee">{{supplier.total_standee_count}}</td>
                <td ng-if="current_center_data.societyFilters.inv_stall">{{supplier.total_stall_count}}</td>
                <td ng-if="current_center_data.societyFilters.inv_flier">{{supplier.flat_count}}</td>
                <td ng-if="supplier.status == 'F'">Finalized</td>
                <td ng-if="supplier.status == 'S'">Shortlisted</td>
                <td ng-if="supplier.status == 'B'">Buffer</td>
                <td ng-if="supplier.status == 'R'">Removed</td>
                <td>
                  <! <a ng-href="" ng-model="supplier.status" ng-if="supplier.status == 'S'" ng-click="updateSupplierStatus(supplier,current_center_data,'RS')">Buffer</a> -->
                  <!-- <div class="radio">
                         <label><input type="radio" ng-model="supplier.status" value="F" ng-click="updateSupplierStatus(supplier,current_center_data,'RS')" ng-disabled="isUploaded">Finalize</label>
                  </div>
                  <div class="radio">
                         <label><input type="radio" ng-model="supplier.status" value="B" ng-click="updateSupplierStatus(supplier,current_center_data,'RS')" ng-disabled="isUploaded">Buffer</label>
                  </div>
                  <div class="radio">
                         <label><input type="radio" ng-model="supplier.status" value="R" ng-change="updateSupplierStatus(supplier,current_center_data,'RS')" ng-disabled="isUploaded">Remove</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->
        <!-- </div> -->
        <!-- uib collapse div ends here-->
        <!-- <h5 class="panel-heading head" style="text-align:center" uib-collapse="! isSociety"><b>Details of Removed Societies</b></h5> -->
        <!-- <div uib-collapse="! isSociety">
          <table class="table table-bordered society">
           <thead>
             <tr>
               <th class="col-md-1 table-heading">Sr.No</th>
               <th class="col-md-2 table-heading">Center</th>
               <th class="col-md-3 table-heading">Society</th>
               <th ng-if="current_center_data.societyFilters.inv_poster" class="col-md-0 table-heading">Poster Count</th>
               <th ng-if="current_center_data.societyFilters.inv_standee" class="col-md-0 table-heading">Standee Count</th>
               <th ng-if="current_center_data.societyFilters.inv_stall"  class="col-md-0 table-heading">Stall Count</th>
               <th ng-if="current_center_data.societyFilters.inv_flier" class="col-md-0 table-heading">Flyer Count</th>
               <th class = "col-md-4">Action</th>
             </tr>
           </thead>
           <tbody ng-repeat=" supplier in current_center_data.suppliers['RS'] track by $index">
             <tr ng-if="supplier.status == 'R'">
               <td>{{$index+1}}</td>
               <td>{{current_center_data.center.center_name}}</td>
               <td>{{supplier.name}}</td>
               <td ng-if="current_center_data.societyFilters.inv_poster">{{supplier.tower_count}}</td>
               <td ng-if="current_center_data.societyFilters.inv_standee">{{supplier.total_standee_count}}</td>
               <td ng-if="current_center_data.societyFilters.inv_stall">{{supplier.total_stall_count}}</td>
               <td ng-if="current_center_data.societyFilters.inv_flier">{{supplier.flat_count}}</td>
               <td>
                 <div class="radio">
                        <label><input type="radio" ng-model="supplier.status" value="S" ng-change="updateSupplierStatus(supplier,current_center_data,'RS')" ng-disabled="isUploaded">Shortlist</label>
                 </div>
                 <div class="radio" ng-if="supplier.status != 'X'">
                        <label><input type="radio" ng-model="supplier.status" value="R" ng-click="updateSupplierStatus(supplier,current_center_data,'RS')" ng-disabled="isUploaded">Remove</label>
                 </div>
               </td>
             </tr>
           </tbody>
          </table>
          </div> -->
      <!-- </div>
    </div>
  </div>
</div>  -->
<!-- End: Display supplier details for selected center-->

<!--Start: Code for Invoice Modal Window -->
<div id="invoiceModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invoice Details</h4>
        <hr/>
        <div class = "modal-body" style = "height: 300px;">
          <div class = "row form-group">
            <span class="col-md-3"><label>Invoice Number</label></span>
            <span class="col-md-3">
              <input type = "text" name="invoicenumber" id="invoicenumber" class = "form-control" ng-model="proposal.invoice_number">
            </span>
          </div>
          <div class = "row form-group">
            <span class="col-md-3"><label>GST Number</label></span>
            <span class="col-md-3">
              <input type = "text" name="gstnumber" id="gstnumber" class = "form-control" ng-model="proposal.gst_number">
            </span>
          </div>
          <div class = "row form-group">
            <span class="col-md-3"><label>Amount</label></span>
            <span class="col-md-3">
              <input type = "text" name="amount" id="amount" class = "form-control" ng-model="proposal.amount">
            </span>
          </div>
          <div class="row form-group">
            <span class="col-md-3"><label>Start Date:</label></span>
            <span class="col-md-3">
              <input type="text" ng-model="campaign_start_date" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-model-options="{timezone:'UTC'}"/>
            </span>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </br>
            <span class="col-md-3"><label>End Date:</label></span>
            <span class="col-md-3">
              <input type="text" ng-model="campaign_end_date" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup2" min-date="key.start_date" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}" />
            </span>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="popup2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <button class="btn btn-danger active notify" ng-click="saveInvoiceDetails()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for Invoice Modal Window -->

<!-- <div style="margin-top:100px;"><footer-bar></footer-bar></div> -->
