<link rel="stylesheet" href="modules/pages/createProposal/createproposal.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<div class="panel-default">
  <br /><br />
  <br /><br />

  <div class="breadcrumb" ncy-breadcrumb></div>
</div>
<div ng-if="errormsg"><h3>{{errormsg}}</h3></div>
<div>
	<span style="color:red;margin-left:25%;font-size:18px;">{{errorMsg}}</span><br>
	<span style="color:blue;margin-left:28%;font-size:18px;">{{successMsg}}</span>
</div>

    <div ng-loading="loading"></div> <!--For displaying loading icon-->
    <h3 class="pageTitle alignment">Initial Requirement Gathering</h3>
  	<form name="proposal">
  		<div class="panel-body business-panel">
  			<div class="table">
  				<div class="row basic-info">
  					<div class="col-md-3"><label class="spacing">Name of Proposal</label></div>
  					<div class="col-md-3"><input type="text" ng-model="model.name" class="form-control spacing" required></div>
  				</div>
  				<div class="row basic-info">
  					<div class="col-md-3"><label class="spacing">Tentative Budget</label></div>
  					<div class="col-md-3"><input type="number" ng-model="model.tentative_cost" class="form-control spacing"></div>
  				</div>
          <div class="row basic-info">
  					<div class="col-md-3"><label class="spacing">Principal Vendor</label></div>
  					<div class="col-md-3">
            <select name="createPrincipalVendor" class="form-control input-size" ng-click="getVendors()" ng-model="model.principal_vendor" required>
              <!-- <option value="">Select Principal Vendor</option> -->
              <option  ng-repeat="vendor in vendors" value="{{vendor.organisation_id}}" required>{{vendor.name}}</option>
            </select>
            </div>
  				</div>
        </div>
  		</div>
  	</form>
    <form class="row addButton">
        <button class="btn btn-danger spacing pull-left" ng-click="addCenter()">Add Center</button><br>
    </form>
    <form name="centerDetail">
    	<div class="table-responsive panel panel-default business-panel">
    		<table class="table table-bordered">
    			<thead>
    				<tr>
              <th class="alignment" ng-repeat="header in proposalheaders"><b>{{header.header}}</b></div>
    				</tr>
    			</thead>
    			<tbody ng-repeat="center in model.centers track by $index">
    				<tr>
            	<td>
                <input type="text" ng-if="center.isEditProposal" ng-model="center.center.center_name" class="form-control spacing input-size" required>
                <input type="text" ng-if="!center.isEditProposal" ng-model="center.center.center_name" class="form-control spacing input-size" readonly>
              </td>
    					<td><input type="text" ng-if="center.isEditProposal" ng-model="center.center.address" class="form-control spacing input-size" required>
                  <input type="text" ng-if="!center.isEditProposal" ng-model="center.center.address" class="form-control spacing input-size" readonly>
              </td>
              <td>
                <select ng-if="center.isEditProposal" name="city" class="form-control input-size" ng-change="get_areas(center.city,$index)" ng-model="center.city" required>
                  <option value="">Select City</option>
                  <option  ng-repeat="city in cities" value="{{city.id}}" required>{{city.city_name}}</option>
                </select>
                <input type="text" ng-if="!center.isEditProposal" ng-model="center.center.city" class="form-control spacing" readonly>
              </td>
              <td>
                <select ng-if="center.isEditProposal" name="areas" class="form-control input-size" ng-change="get_sub_areas(center.area,$index)" ng-model="center.area" required>
                  <option value="">Select Area</option>
                  <option  ng-repeat="area in areas[$index]" value="{{area.id}}" required>{{area.label}}</option>
                </select>
                <input type="text" ng-if="!center.isEditProposal" ng-model="center.center.area" class="form-control spacing" readonly>
              </td>
              <td>
                <select ng-if="center.isEditProposal" name="subareas" class="form-control input-size" ng-change="" ng-model="center.center.subarea" required>
                  <option value="">Select SubArea</option>
                  <option  ng-repeat="subarea in sub_areas[$index]" value="{{subarea.subarea_name}}" required>{{subarea.subarea_name}}</option>
                </select>
                <input type="text" ng-if="!center.isEditProposal" ng-model="center.center.subarea" class="form-control spacing" readonly>
              </td>
              <td><input type="number" ng-if="center.isEditProposal" ng-model="center.center.pincode" class="form-control spacing col-width">
                <input type="number" ng-if="!center.isEditProposal" ng-model="center.center.pincode"  class="form-control spacing">
              </td>
    					<td><input type="number" name = "radius" ng-model="center.center.radius" class="form-control spacing input-size-radius" required></td>
    					<td>
                <div class="input-size" ng-repeat="supplier in center.suppliers">
                  <input type="checkbox"  ng-model = "supplier.selected" ng-click="checkSpace(supplier,center)">{{supplier.name}}
                </div>
                <!-- <input type="checkbox"  ng-click="checkSpace('CP',center)">Corporate Parks -->
              </td>
            	<td><button class="btn btn-danger spacing" ng-click="removeCenter($index)">Remove</button></td>
    				</tr>
    			</tbody>
    		</table>
    		<button class="btn btn-danger spacing" ng-click="submit()" ng-disabled="proposal.$invalid || centerDetail.$invalid" ng-loading="loadingSpinner">Submit</button>
    </form>

<!-- <div><footer-bar></footer-bar></div> -->
