.page-container{
	padding: 5px;
	position: relative;
}

.business-panel{
	margin-top: 5px;
	padding: 10px;
	/*width: 1400px;*/
	align-self: center;
}
.spacing{
	margin: 3px;
}
.col-width{
	width: 100px;
}
.alignment{
	text-align: center;
}

.addButton{
	margin-top: 25px;
    margin-bottom: 10px;
		margin-left: 15px;
		padding-left: 10px;
}
.panel{
	margin: 2%;
	margin-top: 0%;
}
.basic-info{
	padding-left: 10px;
}
.breadcrumbStyle{
	margin: 1%;
}
tbody{
	overflow: scroll;
}
.input-size{
	min-width: 120px;
}
.input-size-radius{
	min-width: 60px;
}
