<div style="margin-top:30px"></div>
<div>
<div ui-view="">
    <table class="table table-bordered table-hover">
        <thead>
            <th  style = "text-align:center">Business Name</th>
            <th  style = "text-align:center">Campaign Types</th>
            <th  style = "text-align:center">Start Date</th>
            <th  style = "text-align:center">End Date</th>
            <th  style = "text-align:center">Details</th>

        </thead>
        <tbody>
        <tr ng-repeat="row in model" >
            <td style = "text-align: -webkit-center"><span>{{row.business.name}}</span></td>
            <td style = "text-align: -webkit-center">
            <div ng-repeat="key in row.types">{{key.type}} - {{key.sub_type}}</div></td>
            <td style = "text-align: -webkit-center"><input type="text" style="text-align: center" ng-model="row.start_date"  disabled="true" /></td>
            <td style = "text-align: -webkit-center"><input type="text" style="text-align: center" ng-model="row.end_date" disabled="true"/></td>
            <td style = "text-align: -webkit-center"><input type="button" class="btn btn-primary" ng-click="viewInventory(row.id)" value="View Inventory"></td>
        </tr>

        </tbody>
    </table>
</div>
</div>
