<div class="hpadding20">
    <div class="row">
       <div class="col-md-10" style="text-align: center;">
           <div class="row">

<!-- Start: Carousel added to slide images -->
   <div class="carousel" id="slider-Car" style="margin-left:40px;">
    <div class="carousel-inner" >
        <div class="item Image" ng-class="{active:!$index}"  ng-repeat="image in CarImages">
          <div class="row">
            <img ng-src="{{image}}" width="300px" height="180"/>
            <img ng-src="{{CarImages[$index+1]}}"  width="300px" height="180" ng-if="CarImages[getSecondIndex(CarImages,$index+1)]"/>
          </div>
          <a class="left carousel-control"  data-toggle="carousel" data-target = "#slider-Car" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control"   data-toggle="carousel" data-target = "#slider-Car" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
          </a>
        </div>
<!-- End: Carousel added to slide images -->

    </div>
 </div>



              <!-- <div style="margin-left:10px" ng-repeat="image in society_images" ng-if="image.name=='Car Display'" class="col-md-4"><img src="http://mdimages.s3.amazonaws.com/{{image.image_url}}" width="180px" height="180px" alt=""/></div> -->
           </div>
       </div>
    </div><br>
</div>
<div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size20 bold grey" style="color:#000;">Basic Details</span><br>
</div>
<!--1st row-->
<div class="hpadding20">
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">Type of Bookings<br>
           <center><label style="font-size:15px; color:#c0c0c0"></label></center>
        </div>
				<div class="clearfix"></div>
  	</div>
		<div class="col-md-4 offset-0">
					<div class="sctext left margtop15 grey">Display Day<br>
              <center><label style="font-size:15px; color:#c0c0c0"></label></center>
          </div>
					<div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">Pre-Campaign<br>
            <center><label style="font-size:15px; color:#c0c0c0"></label></center>
        </div>
			  <div class="clearfix"></div>
   </div>
	 <div class="clearfix"></div><br/>
</div>
<!--2nd row-->
<div class="hpadding20">
		<div class="col-md-4 offset-0">
       <div class="sctext left margtop15" style="color:#0fa491">Standard Car Display<br></div>
			 <div class="clearfix"></div>
    </div>
		<div class="col-md-3 offset-0">
			  <div class="sctext left margtop15" style="color:#0fa491">2 Standees , 1 Backdrop and 1 Raised Platform allowed.<br>
        <label style="font-size:15px; color:#c0c0c0"></label></div>
				<div class="clearfix"></div>
   </div>
   <div class="col-md-1 offset-0"></div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15 " style="color:#0fa491">1 Standee and 1 Poster allowed in each tower for 2 days prior to the booking date<br>
          <center><label style="font-size:15px; color:#c0c0c0"></label></center>
      </div>
			<div class="clearfix"></div>
   </div>
	 <div class="clearfix"></div><br/>
</div>
<!--3rd row-->
<div class="hpadding20">
			<div class="col-md-4 offset-0">
          <div class="sctext left margtop15" style="color:#0fa491">Premium Car Display<br></div>
          <div class="clearfix"></div>
      </div>
			<div class="col-md-3 offset-0">
					<div class="sctext left margtop15" style="color:#0fa491">4 Standees , 1 Backdrop , 1 Canopy  and 1 Raised Platform space allowed.<br>
              <label style="font-size:15px; color:#c0c0c0"></label>
          </div>
					<div class="clearfix"></div>
      </div>
      <div class="col-md-1 offset-0"></div>
			<div class="col-md-4 offset-0">
					<div class="sctext left margtop15" style="color:#0fa491">2 Standee and 2 Poster allowed in each tower for 2 days prior to the booking date<br>
              <center><label style="font-size:15px; color:#c0c0c0"></label></center>
          </div>
					<div class="clearfix"></div>
     </div>
		 <div class="clearfix"></div><br/>
</div>
<!--<div class="hpadding20">-->
<!--Booking Information-->
<div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Booking Information</span><br><br>
</div>
<div class="hpadding20">
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 " style="color:#0fa491">Minimum Day wise<br>
            <center><label style="font-size:15px; color:#c0c0c0">Display Duration</label></center>
        </div>
        <div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0">
        <div class="sctext left margtop15" style="color:#0fa491">{{inventoryDetails.stall_or_cd_campaign}}<br>
            <center><label style="font-size:15px; color:#c0c0c0">Booking Space</label></center>
        </div>
				<div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15" style="color:#0fa491">Common Area<br>
           <center><label style="font-size:15px; color:#c0c0c0">Booking Location</label></center>
        </div>
			  <div class="clearfix"></div>
    </div>
		<div class="clearfix"></div><br/>
</div>

<div class="hpadding20">
		<div class="col-md-4 offset-0">
        <div class="sctext left margtop15 " style="color:#0fa491">Day wise<br>
            <center><label style="font-size:14px; color:#c0c0c0">Basic/Premium Booking Duration</label></center>
        </div>
        <div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0"></div>
    <div class="clearfix"></div><br/>
</div>

<!--Time Slots Information-->
<div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Time Slots</span><br><br>
</div>
<div class="hpadding20">
		<div class="col-md-4 offset-0">
     	 <div class="sctext left margtop15" style="color:#0fa491">10:00am - 7:00pm<br>
       <label class="left" style="font-size:15px; color:#c0c0c0">First Time Slot</label>
       </div>
       <div class="clearfix"></div>
    </div>
    <div class="col-md-4 offset-0">
					<div class="sctext left margtop15" style="color:#0fa491">1:00pm - 9:00pm<br>
              <label class="left" style="font-size:15px; color:#c0c0c0">Second Time Slot</label>
          </div>
					<div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0"></div>
    <div class="clearfix"></div><br/>
</div>
