<link rel="stylesheet" href="modules/pages/operations/auditReleasePlan/auditReleasePlan.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<div ng-loading="loading"></div> <!--For displaying loading icon-->
<br><br><br>
<div class="panel-breadcrumb">
    <div class="" permission = "[]">
      <div class="breadcrumb" ncy-breadcrumb></div>
    </div>
    <div ng-if="!backButton" permission="[campaign_manager]">
      <back-Button></back-Button>
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
      <h3>Audit / Release Plan Details</h3>
  </div>
  <div class = "panel-body">
    <div class="panel-heading">
      <Label>Campaign Id:&nbsp;</Label><span class = "proposal-details">{{releaseDetails.campaign.proposal_id}}</span>
      <Label class = "labels">Campaign Name:&nbsp;</Label><span class = "proposal-details">{{releaseDetails.campaign.name}}</span>
      <Label class = "labels">BD Owner:&nbsp;</Label><span class = "proposal-details">{{releaseDetails.campaign.created_by}}</span>
      <Label class = "labels">Campaign State:&nbsp;</Label><span class = "proposal-details">{{getCampaignState(releaseDetails.campaign.campaign_state)}}</span>
    </div>
  </div>
<div class="panel-body panel-table">
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in headings" >{{header.header}}</th>
          </tr>
        </thead>
        <tbody ng-repeat="supplier in releaseDetails.shortlisted_suppliers" ng-init="rowIndex = $index">
          <tr ng-repeat="(key,filter) in getFilters(supplier)" ng-if="supplier.booking_status=='BK'">
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">
            {{supplier.phase}}
            </td>
            <td class="col-md-1">{{key}}</td>
            <td class="col-md-2">{{supplier.name}}<br>({{supplier.object_id}})</td>
            <td class="col-md-1">RS</td>
            <td class="col-md-3 checkboxes-btn">
              <div ng-repeat="inventory in filter.detail">
                <input type="checkbox" class="" ng-disabled="isDisable(rowIndex)" ng-model="inventory.status" ng-click="addInventory(inventory,rowIndex,$index)"/>{{key}}{{$index+1}}
              </div>
            </td>
            <td class="col-md-1">
              <div>
              <button  class="btn btn-info" ng-disabled="invIdList.length == 0 || isDisable(rowIndex)" data-target="#manageDatesModal" data-toggle="modal" data-backdrop="static" ng-click="getActivityDates(supplier)">Manage Date</button>
            </div><br>
            <div>
              <button  class="btn" data-target="#showDatesModal" data-toggle="modal" ng-click="showActivityDates(filter.detail)" ng-disabled="savingDates">View Dates</button>
            </div>
            </td>
            <td class="col-md-8">
              <textarea rows="4" cols="50" name="comments"  ng-model="filter.detail.comments" ng-change="addComments(filter.detail,filter.detail.comments)"class="form-control spacing"></textarea></td>
          </tr>
        </tbody>
      </table>
  </br>

  </div>
</div>
<div class="button-style">
  <button class="btn btn-danger active notify" ng-click="updateData()">Update</button>
</div>
    <!-- </br>
      <div class = "col-md-12" style="text-align:right;padding-right:150px">
        <button class="btn btn-danger active notify" ng-click="updateData()">Update</button>
      </div> -->
<!--Start: Code for Audit Date Modal Window -->
<div id="auditDateModal" class="modal fade">
  <div class="modal-dialog" style="width:400px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact Details</h4>
        <hr/>
        <div class = "modal-body" style = "width: 450px; height: 400px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 350px; height: 250px">
              <table>
                <tbody>
                  <tr ng-repeat = "date in auditDates">
                    <td class="col-md-8">
                      <p class="input-group">
                        <input type="text" class="form-control col-md-4"  ng-model="date.audit_date" uib-datepicker-popup="{{format}}" is-open="popup1"  min-date="" datepicker-options="dateOptions" close-text="Close" date-parser="{{format}}" alt-input-formats="altInputFormats" ng-model-options="{timezone:'UTC'}"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="popup1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </td>
                    <td>
                      <button class="btn btn-danger active notify" ng-click="addAuditDate()">Add</button>
                    </td>
                    <td>
                      <button class="btn btn-danger active notify" ng-click="deleteDate($index)">Delete</button>
                    </td>
                  </tr>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </br>
            <div class = "col-md-12" style="text-align:left">
              <button class="btn btn-danger active notify" ng-click="saveAuditDates()">Save</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for Audit Date Modal Window -->
<!--Start: Code for manage date Modal Window -->
<div id="manageDatesModal" class="modal fade">
  <div class="modal-dialog" style="width:700px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="resetData()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Manage Activity Dates</h4>
        <hr/>
        <div class = "modal-body" style = "width: 650px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 650px; height: 350px">
              <table class="table table-bordered table-align">
                <tbody>
                  <tr ng-repeat = "inventory in invActivityData">
                    <td class="col-md-1">{{inventory.activity_type}}</td>
                    <td class="col-md-2">
                      <!-- <input type="text" ng-model="inventory.act_date.date" ng-change="setDate(inventory.act_date.date)" class="form-control col-md-2" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close"  ng-model-options="{timezone:'UTC'}"/>
                      <button type="button" class="btn btn-default" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button> -->
                      <p class="input-group">
                        <input type="text" class="form-control col-md-4"  ng-model="inventory.act_date.date" ng-change="setDate(inventory.act_date.date)" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1"  min-date="" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="popup1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </td>
                    <td class="col-md-2">
                      <select class="form-control spacing" ng-model="inventory.act_date.userCode">
                        <option ng-repeat="user in userList" value="{{user.id}}">{{user.username}}</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </br>
              <label style="font-size: 20px;">Audit Dates</label>
              <div style="position: relative;">
                <a class="btn btn-danger btn-sm" style = "position: absolute; right: 10px; top: -32px;">
                  <span class="glyphicon glyphicon-plus" uib-tooltip = "Add Date" ng-click="addAuditDate(invActivityAuditData.audit_dates)"></span>
                </a>
              </div>
              <table class="table table-align">
                <tbody>
                  <tr ng-repeat="inventory in invActivityAuditData.audit_dates">
                    <td class="col-md-2">
                      <!-- <input type="text" ng-model="inventory.date" ng-change="setDate(inventory.date)" class="form-control col-md-2" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close"  ng-model-options="{timezone:'UTC'}"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span> -->
                      <p class="input-group">
                        <input type="text" class="form-control col-md-4"  ng-model="inventory.date" ng-change="setDate(inventory.date)" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1"  min-date="" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="popup1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </td>
                    <td class="col-md-2" rowspan="invActivityAuditData.audit_dates.length">
                      <select class="form-control spacing" ng-model="inventory.userCode">
                        <option ng-repeat="user in userList" value="{{user.id}}">{{user.username}}</option>
                      </select>
                    </td>
                    <!-- <td class="col-md-1">
                       <a class="btn btn-danger btn-sm"  >
                         <span class="glyphicon glyphicon-plus" uib-tooltip = "Add Date" ng-click="addAuditDate(invActivityAuditData.audit_dates)"></span>
                       </a>
                    </td> -->
                    <td class="col-md-1">
                       <a class="btn btn-danger btn-sm"  >
                         <span class="glyphicon glyphicon-trash" uib-tooltip = "Delete Date" ng-click="removeAuditDate(invActivityAuditData.audit_dates,$index)"></span>
                       </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class = "col-md-12 save ">
                <button class="btn btn-danger active notify" ng-click="saveActivityDates()">Save</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for manage dates Modal Window -->
<!--Start: Code for manage Dates Modal Window -->
<div id="" class="modal fade">
  <div class="modal-dialog" style="width:700px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Assign</h4>
        <hr/>
        <div class = "modal-body" style = "width: 650px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 650px; height: 350px">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th ng-repeat="header in assignModal_headers" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "inventory in inventoryList">
                    <td>{{inventory.id}}</td>
                    <td>{{inventory.activity_type}}</td>
                    <td>{{inventory.activity_date|limitTo:10}}</td>
                    <td class="col-md-2">
                      <select class="form-control spacing" ng-model="inventory.user">s
                        <option ng-repeat="user in userList" value="{{}}">{{user.name}}</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class = "col-md-12" style="text-align:right;padding-right:150px">
                <button class="btn btn-danger active notify" ng-click="saveUserForActivity()">Save</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for manage dates Modal Window -->
<!--Start: Code for show Dates Modal Window -->
<div id="showDatesModal" class="modal fade">
  <div class="modal-dialog" style="width:700px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Activity Date & Assigned User Details</h4>
        <hr/>
        <div class = "modal-body" style = "width: 650px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 650px; height: 350px">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th ng-repeat="header in assignModal_headers" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
                  </tr>
                </thead>
                <tbody ng-repeat = "inventory in ActivityDatesData">
                  <tr ng-repeat = "activity in inventory.inventory_activities">
                    <td>{{inventory.inventory_id}}</td>
                    <td>{{activity.activity_type}}</td>
                    <td>
                      <div ng-repeat = "date in activity.inventory_activity_assignment">
                        {{date.activity_date|limitTo:10}}</hr>
                      </div>
                    </td>
                    <td>
                      <div ng-repeat = "user in activity.inventory_activity_assignment">
                        {{user.assigned_to}}</br>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for show dates Modal Window -->
<!-- <div><footer-bar></footer-bar></div> -->
