<link rel="stylesheet" href="/modules/pages/leads/campaignLeads.tmpl.css">
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div ng-loading="loading"></div> <!--For displaying loading icon-->
<div ng-show="isEmpty" style="text-align:center;"><h2>{{msg}}</h2></div>

<main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" ng-if="loading">

<div><nav-bar></nav-bar></div>
<br/><br/><br/>
<br/><br/>

<div class="" ng-show="!views.campaigns && !(views.createForm || views.selectSuppliers || views.enterLeads || views.viewLeadsBySupplier)">
  <button type="button" class="btn btn-primary" style="margin-left:23px;" ng-click="changeView('campaigns',campaign)">Back To Campaign Details Page</button>
</div>
<div class="" ng-show="views.createForm || views.selectSuppliers || views.importLeads">
  <button type="button" class="btn btn-primary" style="margin-left:23px;" ng-click="changeView('viewLeadForms',campaignInfo)">Back To Form Details Page</button>
</div>
<div class="" ng-show="views.enterLeads">
  <button type="button" class="btn btn-primary" style="margin-left:23px;" ng-click="changeView('selectSuppliers',campaignInfo)">Back To Suppliers Details Page</button>
</div>
<div class="" ng-show="views.viewLeadsBySupplier">
  <button type="button" class="btn btn-primary" style="margin-left:23px;" ng-click="changeView('enterLeads',campaignInfo)">Back To Enter Leads Page</button>
</div>

<br/><br/>
<div class="panel" ng-if="views.campaigns">
  <div class="pageTitle">
    <h3>List Of All Campaign Details</h3>
  </div>
  <br/>
  <div class="panel-body" style="margin-top:10px;">
    <div >
      <table st-table="campaigns" st-safe-src="Data" class="table table-striped">
        <thead>
          <tr>
            <th colspan='999' style="background-color:#ffffff;">
              <br/>
              <input st-search="" placeholder="Search ..." class="form-control"  type="search"/>
            </th>
          </tr>
          <tr>
            <th ng-repeat="header in campaignHeaders">{{header.header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align:center" ng-repeat="campaign in campaigns">
            <td>{{campaign.campaign.name}}</td>
            <td>{{campaign.campaign.tentative_start_date|limitTo:10}}</td>
            <td>{{campaign.campaign.tentative_end_date|limitTo:10}}</td>
            <td>
              <button class="btn btn-danger" ng-click="changeView('viewLeadForms',campaign)">Create/Edit Lead Form</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages=""></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!--start: leads  -->
<div class="panel" ng-if="views.viewLeads">
  <div class="pageTitle">
    <h3>Leads Data Of Campaign {{campaignName}} </h3>
  </div>
  <div class="panel-body">
    <div>
      <table class="table table-bordered table-responsive" export-csv="csv" separator=";" ng-if="leadsData.leads.length">
        <thead>
          <tr>
            <th>Index</th>
            <th ng-repeat="header in leadsData.alias_data">{{header.alias}}</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="lead in leadsData.leads">
            <td>{{$index + 1}}</td>
            <td ng-repeat="alias in leadsData.alias_data" ng-if="lead[alias.original_name] != true && lead[alias.original_name] != false">{{lead[alias.original_name]}}</td>
            <td ng-repeat="alias in leadsData.alias_data" ng-if="lead[alias.original_name] == true">Yes</td>
            <td ng-repeat="alias in leadsData.alias_data" ng-if="lead[alias.original_name] == false">No</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-danger" title="{{campaignName}} Leads" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="{{campaignName}}_leads.csv" ng-if="leadsData.leads.length">
        <i class="glyphicon glyphicon-new-window"></i> &#160;Download As Excel
    </a>
  </div>
</div>
<!--end: leads  -->
<!--start: create form  -->
<div class="panel " ng-if="views.createForm">
  <div class="pageTitle">
    <h3>Create/Edit Form</h3>
  </div>
  <div class="panel-body">
    <form name="fieldForm">
      <div class="">
        Enter Name For Lead Form* :
        <input type="text" class="form-control" ng-model="formName.name" required>
      </div>
      <br />  <br />  <br />
      <div class="row">
        <div ng-repeat="model in leadFormFields">
          <div class="form-group col-md-4">
            <label for="email">FieldName:</label>
            <input type="text" class="form-control" ng-model="model.key_name" required>
          </div>
          <div class="form-group col-md-4">
            <label for="pwd">Field Type:</label>
            <select class="form-control" ng-model="model.key_type" required>
              <option ng-repeat="type in leadKeyTypes" value="{{type.name}}">{{type.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label>Action </label></br>
            <input type="checkbox" name="" value="true"  ng-model="model.isHotLead"/>Hot Lead
            <input type="text" ng-model="model.hot_lead_criteria" ng-if="model.isHotLead"/>
          </div>
          <div class="form-group col-md-2">
            <label></label>
            <button type="button" class="form-control btn btn-danger" ng-click="removeField($index)" ng-if="!updateForm">Remove</button>
            <button type="button" class="form-control btn btn-danger" ng-click="removeFieldFromForm(model)" ng-if="updateForm">Remove</button>
          </div>
          <br />  <br />  <br />  <br />
          <div class="col-md-12" ng-if="model.key_type=='RADIO' || model.key_type=='CHECKBOX' || model.key_type=='DROPDOWN'">
            Add Options:
            <br />
            <div class="col-md-12">
              <div class="col-md-4">
                <input type="text" class="form-control" ng-model="model.optionForm.option">
              </div>
              <div class="col-md-4">
                <button class="btn btn-danger" ng-click="addKeyOption(model.optionForm.option,$index+1)">+</button>
              </div>
            </div>
            <br /> <br />
            <div class="" ng-repeat="option in model.key_options" style="display:inline-block;">
              <button class="btn btn-primary">{{option}}</button>
                <span ng-click="model.key_options.splice($index,1)" class="glyphicon glyphicon-remove-circle"></span>
            </div>
          <br />  <br />
          </div>
          <br />  <br /><br />
        </div>
      </div>
      <div class="form-group col-md-12">
        <button class="btn btn-danger" ng-click="addLeadFormFields()" ng-if="!updateForm">Add</button>
        <button data-target="#addNewLeadFormFields" data-toggle="modal" class="btn btn-danger" style="margin:10px;" ng-if="updateForm">Add New Fields</button>
        <button ng-click="updateFormFields()"  class="btn btn-danger" style="margin:10px;" ng-if="updateForm">Update Fields</button>
        <button ng-click="saveLeadForm()" style="text-align:right" class="btn btn-danger" ng-disabled="fieldForm.$invalid" ng-if="!updateForm">Submit</button>
        <button ng-click="" data-target="#globalHotLeadsCriteria" data-toggle="modal"
         class="btn btn-danger" style="margin:10px;" >Global Hot Leads Criteria</button>
      </div>
    </form>
  </div>
</div>
<!--end: create form  -->
<!--start: enter leads data -->
<div class="panel " ng-if="views.selectSuppliers">
  <div class="pageTitle">
    <h3>List Of All Suppliers Of Campaign {{campaignName}}</h3>
  </div>

  <div class="panel-body">
    <div>
      <input type="text" ng-model="searchSupplier" class="form-control" placeholder="Search">
      <br>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Index</th>
            <th>Supplier Name</th>
            <th>Area</th>
            <th>Subarea</th>
            <th>Address</th>
            <th>Platform Link</th>
            <th>Mobile Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in suppliers|filter : searchSupplier">
            <td>{{$index+1}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.area}}</td>
            <td>{{supplier.subarea}}</td>
            <td>{{supplier.address1}} {{supplier.address2}}</td>
            <td>
              <button class="btn btn-danger" ng-click="enterLeads(supplier)">Click Here To Enter Leads</button>
            </td>
            <td><button class="btn btn-danger">
              <a ng-href="#/enterLeadsFromApplication/{{leadFormFields.leads_form_id}}/{{supplier.supplier_id}}" style="color:#ffffff;" target="_blank">Go To Link</a></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--end: enter leads data  -->
<!--start : import leads  -->
<!-- <div class="panel" ng-show="views.importLeads">
  <div class="pageTitle">
    <h3>Import Leads for {{campaignName}} Campaign</h3>
  </div>
  <div class="panel-body">
    <label>Select Lead Sheet</label>
    <input type="file" ngf-select = "uploadFiles($file, 1)" class="buttonfile" accept=".xlsx"/>
    <button class="btn btn-danger " ng-click="resetData()" >Reset</button>
  </div>
  <div class="panel-body" >
    <br />
    <div class="">
      <button ng-click="importLeadsThroughSheet()" class="btn btn-danger">Submit</button>
    </div>
  </div>
</div> -->
<!--end : import leads  -->
<!--start : view lead forms -->
<div class="panel " ng-if="views.viewLeadForms">
  <div class="pageTitle">
    <h3>{{campaignName}} Lead Form List</h3>
  </div>
  <div class="panel-body">
    <div>
      <table st-table="campaigns" st-safe-src="Data" class="table table-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Form Name</th>
            <th>Action</th>
            <th>View Leads</th>
            <th>Leads</th>
            <th>Import</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in leadForms">
            <td>{{$index+1}}</td>
            <td>{{item.leads_form_name}}</td>
            <td>
              <button class="btn btn-danger" ng-click="getLeadForm(item)">Form Details</button>
            </td>
            <td>
              <button class="btn btn-danger" ng-click="changeView('viewLeadForms', campaignInfo)">View Leads</button>

              <!-- <button class="btn btn-danger" ng-click="changeView('selectSuppliers',campaignInfo,item)">Enter Leads</button> -->
            </td>
            <td>
            <button class="btn btn-danger" ng-click="changeView('selectSuppliers',campaignInfo,item)">Enter Leads</button>
            </td>
            <td>
             <button class="btn btn-danger" ng-click="changeView('importLeads',campaignInfo,item)">Import Leads</button>
           </td>


          </tr>
        </tbody>
      </table>
      <button class="btn btn-danger" ng-click="getLeadForm()">Create Lead Form</button>

    </div>
  </div>
</div>
<!--end : view lead forms -->
<!--start: enter leads  -->
<div class="panel" ng-if="views.enterLeads">
  <div class="pageTitle">
    <h3>Leads</h3>
    Name of Society : {{supplierData.name}}
    Area : {{supplierData.area}}
    Subarea : {{supplierData.subarea}}
  </div>
    <form name="leadForm"  style="margin:5%;" >
    <div class="" ng-repeat="item in leadModelData">
      <div class="form-group" style="padding-bottom:0;padding-top:0;">
        <div class="cols-sm-10" ng-if="item.key_type != 'RADIO' && item.key_type != 'CHECKBOX' && item.key_type != 'DROPDOWN' && item.key_type != 'EMAIL' && item.key_type != 'PHONE' && item.key_type != 'TEXTAREA' && !item.hot_lead_criteria">
          {{item.key_name}}
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="{{keyTypesMap[item.key_type]}}" class="form-control" ng-model="item.value" />
          </div>
        </div>
      </div>
      <div class="form-group" style="padding-bottom:0;padding-top:0;">
        <div class="cols-sm-10" ng-if="item.key_type == 'PHONE'">
          {{item.key_name}}
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" name="contact_phone"  class="form-control" ng-pattern="/^(\d{10})$/" ng-model="item.value" required/>
             <span class="show-error" ng-show="leadForm.contact_phone.$error.pattern">Please Enter Valid 10 Digit Mobile Number</span>
          </div>
        </div>
      </div>
      <div class="form-group" style="padding-bottom:0;padding-top:0;" ng-class="{ 'has-error' : leadForm.email.$invalid && !leadForm.email.$pristine }">
        <div class="cols-sm-10" ng-if="item.key_type == 'EMAIL'">
          {{item.key_name}}
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="email" name="contact_email" id="contact_email" class="form-control" ng-model="item.value"  />
            <span class="show-error" ng-show="leadForm.contact_email.$error.email">Please Enter Valid Email</span></div>

          </div>
        </div>
        <div class="form-group" style="padding-bottom:0;padding-top:0;">
          <div class="cols-sm-10" ng-if="item.key_type == 'TEXTAREA'">
            {{item.key_name}}
            <div class="input-group">
              <textarea style="width:100%;" class="form-control" rows="5" id="comment" ng-model="item.value"></textarea>
              <!-- <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="{{keyTypesMap[item.key_type]}}" class="form-control" ng-model="item.value"/> -->
            </div>
          </div>
        </div>

        <div class="form-group" style="padding-bottom:0;padding-top:0;">
          <div class="cols-sm-10" ng-if="item.key_type == 'RADIO' && !item.hot_lead_criteria">
            {{item.key_name}}
            <div class="input-group" ng-repeat="option in item.key_options">
              <!-- <span class="form-check-input"></span> -->
              <input type="{{keyTypesMap[item.key_type]}}" class="form-check-input" value="{{option}}" name="radio" ng-model="item.value"/>{{option}}
            </div>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:0;padding-top:0;">
          <div class="cols-sm-10" ng-if="item.key_type == 'CHECKBOX' && !item.hot_lead_criteria" ng-init="getCheckBoxValues(item.key_options)">
            {{item.key_name}}
            <div class="input-group" ng-repeat="option in leadChBoxKeyOptions">
              <input type="checkbox" class="form-check-input"  value="{{option}}"  name="chbox" ng-model="option.selected"  ng-click="setCheckBoxValue(option.selected,$index,item)"/>{{option.name}}
            </div>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:0;padding-top:0;">
          <div class="cols-sm-10" ng-if="item.hot_lead_criteria">
            {{item.key_name}}
            <div class="input-group">
              <!-- <span class="form-check-input"></span> -->
              <input type="checkbox" class="form-check-input"  value="{{item.hot_lead_criteria}}"  ng-model="hotLeadValue" ng-click="setHotLeadValue(item,hotLeadValue)" name="hot_lead"/>{{item.hot_lead_criteria}}
            </div>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:0;padding-top:0;" ng-if="!item.hot_lead_criteria">
            <span ng-if="item.key_type == 'DROPDOWN'">{{item.key_name}}</span>
            <select ng-if="item.key_type == 'DROPDOWN'" class="form-control" ng-model="item.value">
              <option ng-repeat="option in item.key_options" value="{{option}}">{{option}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
      <button class="btn btn-danger" ng-disabled="leadForm.$invalid" ng-click="saveLeads()">Submit</button>
      <button class="btn btn-danger" ng-click="changeView('viewLeadsBySupplier',campaignInfo)">View Leads</button>

    </div>
</form>
</div>
<!--end: enter leads  -->
<!--start : import leads  -->
<div class="panel" ng-show="views.importLeads">
  <div class="pageTitle">
    <h3>Import Leads for {{campaignName}} Campaign</h3>
  </div>
  <label>Select Lead Sheet</label>
  <div class="panel-body" >
    <input type="file" class="buttonfile" accept=".xlsx" ngf-select = "uploadFiles($file)"/>
    <button  ng-click="getExportedSheet()" class="btn btn-success pull-right">Export Sample Sheet To Enter Leads</button>
    <br /><br />
    <a href="{{exportedFile}}" class="pull-right" ng-if="exportedFile" target="_blank" download>Download</a></button>
    <br />

    <div class="">
      <button ng-click="importLeadsThroughSheet()" class="btn btn-danger" ng-disabled="importLeadsSuccess">Submit</button>

    </div>
  </div>
</div>
<!--end : import leads  -->
<div id="addNewLeadFormFields" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add New Fields In Form</h4>
        <hr/>
        <div class = "modal-body">
          </br>
          <div ng-repeat="model in newLeadFormFields">
            <div class="form-group col-md-4">
              <label for="email">FieldName:</label>
              <input type="text" class="form-control" ng-model="model.key_name" required>
            </div>
            <div class="form-group col-md-4">
              <label for="pwd">Field Type:</label>
              <select class="form-control" ng-model="model.key_type" required>
                <option ng-repeat="type in leadKeyTypes" value="{{type.name}}">{{type.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label>Action </label></br>
              <input type="checkbox" name="" value="true"   ng-model="model.isHotLead"/>Hot Lead
              <input type="text" ng-model="model.hot_lead_criteria" ng-if="model.isHotLead"/>
            </div>
            <div class="form-group col-md-2">
              <label></label>
              <button type="button" class="form-control btn btn-danger" ng-click="removeNewField($index)">Remove</button>
            </div>
            <br />  <br />  <br />  <br />
            <div class="col-md-12" ng-if="model.key_type=='RADIO' || model.key_type=='CHECKBOX' || model.key_type=='DROPDOWN'">
              Add Options:
              <br />
              <div class="col-md-12">
                <div class="col-md-4">
                  <input type="text" class="form-control" ng-model="model.optionForm.option">
                </div>
                <div class="col-md-4">
                  <button class="btn btn-danger" ng-click="addKeyOption(model.optionForm.option,$index)">+</button>
                </div>
              </div>
              <br /> <br />
              <div class="" ng-repeat="option in model.key_options" style="display:inline-block;">
                <button class="btn btn-primary">{{option}}</button>
                  <span ng-click="model.key_options.splice($index,1)" class="glyphicon glyphicon-remove-circle"></span>
              </div>
            <br />  <br />
            </div>
            <br />  <br /><br />
          </div>
          <button class="btn btn-danger" ng-click="addNewLeadFormField()">Add</button>
          <button class="btn btn-danger" ng-click="updateLeadForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="updateNewLeadFormFields" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Fields In Form</h4>
        <hr/>
        <div class = "modal-body">
          </br>
          <div ng-repeat="model in newLeadFormFields">
            <div class="form-group col-md-4">
              <label for="email">FieldName:</label>
              <input type="text" class="form-control" ng-model="model.key_name" required>
            </div>
            <div class="form-group col-md-4">
              <label for="pwd">Field Type:</label>
              <select class="form-control" ng-model="model.key_type" required>
                <option ng-repeat="type in leadKeyTypes" value="{{type.name}}">{{type.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label>Action </label></br>
              <input type="checkbox" name="" value="true"  ng-model="model.isHotLead"/>Hot Lead
              <input type="text" ng-model="model.hot_lead_criteria" ng-if="model.isHotLead"/>
            </div>
            <div class="form-group col-md-2">
              <label></label>
              <button type="button" class="form-control btn btn-danger" ng-click="removeNewField($index)">Remove</button>
            </div>
            <br />  <br />  <br />  <br />
            <div class="col-md-12" ng-if="model.key_type=='RADIO' || model.key_type=='CHECKBOX' || model.key_type=='DROPDOWN'">
              Add Options:
              <br />
              <div class="col-md-12">
                <div class="col-md-4">
                  <input type="text" class="form-control" ng-model="model.optionForm.option">
                </div>
                <div class="col-md-4">
                  <button class="btn btn-danger" ng-click="addKeyOption(model.optionForm.option,$index+1)">+</button>
                </div>
              </div>
              <br /> <br />
              <div class="" ng-repeat="option in model.key_options" style="display:inline-block;">
                <button class="btn btn-primary">{{option}}</button>
                  <span ng-click="model.key_options.splice($index,1)" class="glyphicon glyphicon-remove-circle"></span>
              </div>
            <br />  <br />
            </div>
            <br />  <br /><br />
          </div>
          <button class="btn btn-danger" ng-click="addNewLeadFormField()">Add</button>
          <button class="btn btn-danger" ng-click="updateLeadForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Start : view leads by supplier  -->
  <div class="" ng-if="views.viewLeadsBySupplier">
    <div class="panel-heading">
      <h3>Lead Details for {{supplierData.name}} Supplier</h3>
    </div>
      <br/>
         <div class="panel-body">
           <div>
             <div class="col-md-12">
                 <input type="text" class="form-control" ng-model="query" placeholder="Search"/><br />
             </div>

             <div class="col-md-12 scroll">
               <table class="table table-bordered table-responsive" ng-if="entryListLeadsData.values.length">
                 <br/>
                 <thead>
                   <tr>
                     <th>Index</th>
                     <th ng-repeat="header in entryListLeadsData.headers">{{header.key_name}}</th>
                   </tr>
                 </thead>
                 <tbody ng-repeat="lead in entryListLeadsData.values | filter : query" >
                   <tr>
                     <td>{{$index + 1}}</td>
                     <td  ng-repeat="alias in lead">{{alias.value}}</td>
                   </tr>
                 </tbody>
               </table>
               <br />
               <!-- <a class="btn btn-danger" title="{{campaignName}} Leads" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                    download="{{campaignName}}_leads.csv" ng-if="leadsData.leads.length">
                   <i class="glyphicon glyphicon-new-window"></i> Download As Excel
               </a> -->
             </div>

             <div ng-if="!entryListLeadsData.values.length">
               <label>No Leads Found</label>
             </div>
           </div>

         </div>
     </div>
<!--End : view leads by supplier  -->
<!-- START: GLOBAL HOT LEADS CRITERIA -->
<div id="globalHotLeadsCriteria" class="modal fade">
  <div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Global Hot Leads Criteria</h4>
        <hr/>
        <div class = "modal-body">
          <div>
            <table class="table table-responsive table-bordered">
              <tr ng-repeat="item in globalHotLeadCriteria">
                <td>Hotness Level Criteria {{$index + 1}}
                  <input type="text" placeholder="Enter Alias" ng-model="hotnessMapping[item.name]" class="form-control">
                </td>
                <!-- <div ng-repeat="(itemKey,itemVal) in values"> -->
                  
                <td>             
                  <div ng-repeat="op in item.operation">
                    <!-- <div class="row">
                      <div class="col-md-4">
                        <label for="">Select Operation:</label>
                      </div>
                      <div class=" col-md-6">
                        <select ng-model="op.name" class="form-control">
                          <option  value="or">OR</option>
                          <option  value="and">AND</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-danger" ng-click="item.operation.splice($index,1)">
                            <span  class="glyphicon glyphicon-trash"></span>
                        </button>
                      </div>
                    </div> -->
                    <!-- <br/><br/> -->
                    <div class="row">
                      <div class="col-md-4">
                        Select Field:
                      </div>
                      <div class="col-md-6">
                        <select ng-model="fieldVal" class="form-control">
                            <option ng-repeat="(k,v) in leadFormFields" value="{{k}}">{{v.key_name}}</option>
                        </select><br>
                        
                      </div>
                      <div class="col-md-2">
                          
                      </div>                      
                    </div>

                    <div ng-repeat="itm in op.items">                     
                      <div class="row">
                        <div class="col-md-4">
                          {{$index + 1}}. {{leadFormFields[itm.id]['key_name']}}
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Enter Values" ng-model="textValue" class="form-control">  
                            
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" ng-click="itm.values.push(textValue)">Add</button>                           
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" ng-click="op.items.splice($index,1)">
                                <span  class="glyphicon glyphicon-trash"></span>
                            </button>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-4">
                          Values:
                        </div>
                        <div class="col-md-8" style="display: flex">
                          <div ng-repeat="val in itm.values track by $index">
                              <button class="btn btn-primary" style="margin-right: 10px">{{val}}                         
                                <span ng-click="itm.values.splice($index,1)" class="glyphicon glyphicon-trash"></span>
                              </button>        
                          </div>
                        </div>
                      </div>
                      <br>                      
                    </div>
                    <br><br>
                      <button ng-click="addFieldInCriteria(op.items,fieldVal)" class="btn btn-danger">
                        Add Field</button>
                        <button class="btn btn-danger" ng-click="globalHotLeadCriteria.splice($index,1)">
                            <span  class="glyphicon glyphicon-trash"></span>
                        </button>
                  </div>                  
                  <br>
                </td>
                <!-- </div> -->
                
              </tr>

            </table>
          </div>
          <button class="btn btn-danger" ng-click="addCriteria()">Add Criteria</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: GLOBAL HOT LEADS CRITERIA -->