html{
	background-color: #ffffff !important;
}
.commentBox{
	/* margin-top: 10px;
	margin-bottom: 10px; */
}

.updateButton{
	text-align:right;
	/* padding-right:100px */
}
th{
  	background: #808080;
    text-align: center;
  	color: #fff;
}
body{
	background-color: #ffffff !important;
		font-family: Source Sans Pro;
	color: #707070;
  /*text-align: center;*/
}
.checkboxes-btn{
  text-align: left;
}
.breadcrumb{
	background-color: transparent;
  /*width: 82%;*/
  margin-left: auto;
  margin-right: auto;
  font-size : x-large;
}
.labels{
	/* margin-left: 55px; */
}
.panel-breadcrumb{
  margin-left: 5%;
  margin-right: 5%;
}
.panel-heading{
  text-align: center;
  background-color: #d9534f !important;
	color: white !important;
}

th {
  background-color: #8e1921;
  color: white;

  }
.panel{
  /* margin-left: 5%;
  margin-right: 5%; */
}
.panel-table{
	/* height:60vh;
	overflow: auto; */
}
.button-style{
  text-align: right;
  /* padding-top: 20px; */
  /* margin-right: 2%;
	margin-bottom: 2%; */
	/*margin-left: 10%;*/
}
.assign-date{
	margin-left: 5%;
}
.form-inline{
	/* margin: 2%; */
}
.date-panel{
	/* padding: 10px; */
	/* margin-left: 5%;
	margin-right: 5%; */
}
.panel-body{
	overflow-x: visible !important;
	padding: 15px 0px 0px 0px;
}
h3 {
  text-align: center;
}

.show-error{
	font-size: 15px;
	color: red;
}
