<div class="hpadding20">
    <div class="row">
       <div class="col-md-10" style="text-align: center;">
          <div class="row">
          <!--Start: Carousel added to slide images-->
            <div class="carousel" id="slider-standee" style="margin-left:40px;">
              <div class="carousel-inner" >
               <div class="item Image" ng-class="{active:!$index}"  ng-repeat="image in StandeeImages">
                 <div class="row" >
                   <img ng-src="{{image}}"  width="300px" height="180"/>
                   <img ng-src="{{StandeeImages[$index+1]}}" width="300px" height="180" />
                 </div>
                 <a class="left carousel-control"  data-toggle="carousel" data-target = "#slider-standee" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                 </a>
                 <a class="right carousel-control"  data-toggle="carousel" data-target = "#slider-standee" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                 </a>
               </div>
             </div>
            </div>
          <!--End: Carousel added to slide images-->
          </div>
       </div>

    </div><br>
</div>
<div class="hpadding20">
		<div class="line4"></div>
    <span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Size & Number</span><br>
    <span class="opensans dark size16 bold grey">Total Standee Spaces: {{inventoryDetails.total_standee_count}}</span><br><br>
</div>
<div class="hpadding20">
	 <div class="col-md-4 offset-0">
      <div class="sctext left margtop15" style="color:#0fa491">5<br>
        <center><label style="font-size:15px; color:#c0c0c0">Lobby Spaces</label></center>
      </div>
      	<div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15 " style="color:#0fa491">
        <span ng-if="inventoryDetails.standee_small">Small</span>
  			<span ng-if="inventoryDetails.standee_medium">, Medium</span><br>
          <center><label style="font-size:15px; color:#c0c0c0">Standees size</label></center>
      </div>
			<div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 " style="color:#0fa491">Near Lift<br>
          <center><label style="font-size:15px; color:#c0c0c0">Standee Area</label></center>
       </div>
			 <div class="clearfix"></div>
   </div>
	 <div class="clearfix"></div><br/>
</div>

<div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Booking Information</span><br><br>
</div>
<div class="hpadding20">
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 " style="color:#0fa491">Minimum Weekly<br>
           <center><label style="font-size:15px; color:#c0c0c0">Display Duration</label></center>
        </div>
        <div class="clearfix"></div>
		</div>
    <div class="col-md-4 offset-0">
				<div class="sctext left margtop15" style="color:#0fa491">{{society.tower_count}}<br>
            <center><label style="font-size:15px; color:#c0c0c0">Minimum Booking</label></center>
        </div>
						<div class="clearfix"></div>
		</div>
    <div class="col-md-4 offset-0"></div>
  	<div class="clearfix"></div><br/>
</div>
