<div><nav-bar></nav-bar></div>
</br></br></br>


<div class="row">
  <div class="panel" id="passwordModal" style="width:600px;margin-left:300px;margin-bottom:30px;">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
        <h3>Change Password <span class="extra-title muted"></span></h3>
        <span>Note : Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character:</span>
    </div>
    <form name="passwordForm" id="form">
    <div class="panel-body form-horizontal">
      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Old Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" name="oldPassword"  placeholder="Enter your Password" required ng-model="model.old_password"/>

          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">New Password</label></br>
        <span></span>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" id="pwd1" class="form-control"   placeholder="Enter your Password"  required ng-model="model.password"/>
          </div>
        </div>
      </div>
        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="confirm"   placeholder="Confirm your Password" ng-change="validatePassword()"required ng-model="model.confirm_password"/>
            </div>
            <span ng-show="!isValid">{{passwordError}}</span>

          </div>
        </div>
    </div>
  </form>
    <div class="footer">

        <button  class="btn btn-primary"  id="password_modal_save" ng-click="changePassword()" ng-disabled="!isValid || !model.old_password">Save changes</button>
    </div>
  </div>
  </div>
  </div>

</div>
