
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/modules/pages/leadForm/leadsForm.tmpl.css">
<link rel="stylesheet" type="text/css" media="screen and (min-device-width:320px) and (max-device-width:500px)" href="css/mobile.css" />

<body class="container">
  <div><nav-bar></nav-bar></div></br></br> <br />

  <div class="row">
    <a href="/#/logout" class=" lipadding" ng-click="closeModal()"><button style="margin-top:20px;margin-right:30px" type="button" class="btn btn-primary pull-right" name="button">LOGOUT</button></a>
  </div>


<br /><br />
  <div class="pageTitle">
    <h3 ng-if="!showLeads">Lead Form</h3>
    <h3 ng-if="showLeads">Leads Data Of Campaign </h3>
  </div>
    <div class="panel-body" style="text-align:center;margin-top:-20px"  >
  <div class="row" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class = "proposal-details">{{campaignName}}</span>
        <Label>Campaign Name:</Label><span class = "proposal-details">{{proposalInfo.name}}</span>
        <Label class = "labels">Society Name:</Label><span class = "proposal-details">{{supplierInfo.society_name}}</span>
        </div>
    </div>
  </div>
</div>

<br /><br />
    <div class="panel-body">

    </div>
    <form class="form-horizontal" role="form" ng-if="!showLeads">
        <div class="form-group" ng-repeat="model in alias_data">
            &nbsp;
            <label  class="col-sm-3 control-label">{{model.alias}}</label>
            <div class="col-sm-6">
                <input type="{{getFieldType(model.original_name)}}" id="firstName" class="form-control"
                    ng-if="checkValidFields(model.original_name)" ng-model="modelData[model.original_name]" style="margin-left:10px;"/>


                    <div style="margin-left:20px;" class="" ng-hide="checkValidFields(model.original_name)">Yes
                      <input type="{{getFieldType(model.original_name)}}"  ng-value="true"
                        ng-model="modelData[model.original_name]" style="margin-left:20px;"/>
                    </div>
                    <div style="margin-left:20px;" class="" ng-hide="checkValidFields(model.original_name)">No
                      <input type="{{getFieldType(model.original_name)}}"  ng-value="false"
                        ng-model="modelData[model.original_name]" style="margin-left:20px;"/>
                    </div>

            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="col-sm-3">

        </div>
        <button ng-if="!editLead" ng-click="saveLeads()" class="btn btn-primary" style="margin:10px;">Save</button>
        <button ng-if="editLead" ng-click="updateLeads()" class="btn btn-primary" style="margin:10px;">Update</button>

          <button ng-click="getLeads()" class="btn btn-danger pull-center" style="margin:10px;">View Leads</button>

    </form>
    <div class="" ng-if="showLeads && !editLeads">
        <div class="panel-body">
          <div>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="query" placeholder="Search"><br />
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger pull-right" ng-click="changeView()">  Create New Lead</button><br />
            </div>

<br />
            <div class="col-md-12 scroll">
              <table class="table table-bordered table-responsive" export-csv="csv" separator=";" ng-if="leadsData.leads.length">
                <br /><thead>
                  <tr>
                    <th>Index</th>
                    <th ng-repeat="header in leadsData.alias_data">{{header.alias}}</th>
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="lead in leadsData.leads | filter : query">
                    <td>{{$index + 1}}</td>
                    <td ng-repeat="alias in leadsData.alias_data">{{lead[alias.original_name]}}</td>
                    <!-- <td ng-repeat="alias in leadsData.alias_data" ng-if="!lead[alias.original_name] && alias.original_name">No</td> -->

                    <td><button type="button" class="btn btn-danger" ng-click="editView(lead)">EDIT</button></td>
                  </tr>
                </tbody>
              </table>
              <a class="btn btn-danger" title="{{campaignName}} Leads" style="margin-top:30px;" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                   download="{{campaignName}}_leads.csv" ng-if="leadsData.leads.length">
                  <i class="glyphicon glyphicon-new-window"></i> Download As Excel
              </a>
            </div>

            <div ng-if="!leadsData.leads.length">
              <label>No Leads Found</label>
            </div>
          </div>

        </div>
    </div>

    <!-- <form class="form-horizontal" role="form" ng-if="editLeads">
        <div class="form-group" ng-repeat="model in alias_data">
            &nbsp;
            <label  class="col-sm-3 control-label">{{model.alias}}</label>
            <div class="col-sm-6">
                <input type="{{getFieldType(model.original_name)}}" id="firstName" class="form-control"
                    ng-if="checkValidFields(model.original_name)" ng-model="modelData[model.original_name]" style="margin-left:10px;"/>
                    <div class="" ng-hide="checkValidFields(model.original_name)">Yes
                      <input type="{{getFieldType(model.original_name)}}"  ng-value="true"
                        ng-model="modelData[model.original_name]" style="margin-left:20px;"/>
                    </div>
                    <div class="" ng-hide="checkValidFields(model.original_name)">No
                      <input type="{{getFieldType(model.original_name)}}"  ng-value="false"
                        ng-model="modelData[model.original_name]" style="margin-left:20px;"/>
                    </div>

            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="col-sm-3">

        </div>
        <button ng-click="saveLeads()" class="btn btn-primary" style="margin:10px;">Update</button>
        <button ng-click="" class="btn btn-danger" style="margin:10px;">Cancel</button>

    </form> -->
    </div>
</body>
</html>
