// injector
// endinjector

body.blur-theme::before {
    //background: linear-gradient(to bottom right, #bf0000, rgba(0, 0, 0, 0.8784313725490196));
    background: #ffff;
}

body a {
    color: #c70202;
}

body a:hover {
    color: #cb3328;
}

a.collapse-menu-link:hover {
    color: #cb3328;
}

.dashboard-tab{
    margin-top: 20px;
    .uib-tab{
        width:33.33%;
        text-align: center;
    }
    .tab-content {
        padding: 30px 15px 5px 15px;
    }

    .custom-panel.panel {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    }

    .panel > .panel-body {
        padding: 15px 22px;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }

    .custom-panel .panel {
        padding: 5px;
    }

    .custom-panel h4 {
        margin-bottom: 0;
    }

    .custom-panel h5 {
        margin-bottom: 0;
    }
    h5.label-per {
        margin-top: 10px;
        border: 1px solid #fff;
        width: 29px;
        padding: 4px;
    }
    .tab-content {
        min-height: 161px;
    }
    .label-per a {
        color:#fff;
    }
    .panel-hide>.panel.panel-blur {
        background: none;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    }
    .pie-chart-item {
        padding: 0 16px;
    }
}

.dashboard-side-label{
    color: black;
    padding-top:5px;
    h4{
        margin: 36px 0px 52px;
    }
}

.dashboard-table{
    margin-top: 50px;
    .panel-title{
        text-align: center;
    }
}

.dashboard-tab-left{
    .uib-tab{
        width:100% !important;
    }
}

.custom-menu .al-msg-center {
    margin: 13px 47px 0 14px;
}

.custom-toggle-menu {
    font-size:20px;
}

.top-dropdown-menu.custom-menu > a {
    text-align: left;
}

.custom-menu .dropdown-menu {
    padding: 0;
}

.blur-theme .nav.nav-tabs > li.active > a {
    background-color: #c70202;
}

.panel-hover {
    display:none;
}

.pie-chart-item-container:hover+.panel-hover {
    display:block;
    position: absolute;
    width: 63%;
    z-index: 1;
    margin: 0 14%;
    margin-top: -136px;
    height: 33px;
}

.panel-hover .panel.panel-blur {
    background: rgb(187, 2, 2);
}

.panel-hover:after {
    content: '';
    position: absolute;
    top: 57px;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 13px solid rgb(187, 2, 2);
}

.panel-hover .modal-buttons {
    margin-right: 0;
    margin-top: 0;
}

.al-sidebar-list-item.selected:not(.with-sub-menu) {
    background-color: #b30505;
    border-right: 1px solid #520202;
}

.sidebar-hover-elem {
    background: #b30505;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #cb1a26;
}

.panel.panel-blur {
    //background: rgba(0, 0, 0, 0.2);
    //background: #cb1925;
    background: #ffff;
}

.page-top {
    background-color:#4e0303;
}

.page-top.scrolled {
    background-color: rgba(117, 21, 21, 0.87);
}

.tab-content .tab-pane p {
    color: #ffffff;
    margin-bottom: 0;
}

.back-top {
    color: #c70202;
}

.date-tab-heading{
    color: black;
}

.blur-theme .nav.nav-tabs > li.active > a{
    background: #8e1921  !important;
}

.blur-theme .nav.nav-tabs > li > a{
    background: #cb1925 !important;
}

.blur-theme .nav.nav-tabs > li > a:hover{
    background: #8e1921  !important;
}

.panel {
    color: black;
    box-shadow: 0 1px 5px 0 rgb(0, 0, 0);
    background: #ffff;

}

.tab-content{
    //color: black;
}

.date-grid-tab{
    background: #cb1925 !important;
    color: #ffff !important;
    .panel-heading{
        padding: 0 !important;
    }

    .panel-title{
        text-transform: none !important;
    }

    .panel-heading {
        border-bottom: 0 !important;
        box-shadow: none !important;
        height: 40px !important;
    }
    .accordion-toggle:hover{
        color: #d8c1bf;
    }
}

.channels-block.transparent .traffic-chart canvas {
    border: 10px solid #841018;
}

.channels-block.transparent .chart-bg{
    background: #841018;
}

.chart-values-indicator{
    background: #cb1925;
    padding: 20px;
}

.table-design{
        background: #7f7f7f !important;
        color: #ffff !important;
}

.campaign-table-design{
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    .panel-heading{
        text-align: center !important;
    }
}
