th{
  	/*background: #808080;*/
    text-align: center;
  	color: #000;

}
body{
	background: #ffffff;
	color: #707070;
  min-width: 100%;
}

th {
  background-color: #8e1921;
  color: white;

  }
.notify{
	margin-top: 15px;
}

.campaign-list{
	/* margin-left: 100px; */
    font-size: x-large;
}
.content{
  min-height: 350px;
}
.scrollableContainer {
   height: 600px;
 }
 table{
   text-align: center;
 }
table .cellWidth{
min-width: 100px;
}
table .cellWidthLarge{
min-width: 130px;
}
.panel{
  /* margin-top:20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px; */
}

.panel-heading{
  text-align: center;
  background-color: #d9534f;
  color: white;
}


  .st-sort-default:before {content: '\25B1'}
  .st-sort-ascent:before {content: '\25B2'}
  .st-sort-descent:before {content: '\25BC'}
