<link rel="stylesheet" href="modules/pages/DashBoard/OperationsDashBoard/opsdashboard.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div ng-loading="loading"></div> <!--For displaying loading icon-->

<main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" ng-if="loading">

  <div><nav-bar></nav-bar></div>
  </br></br></br>
<!-- <back-Button></back-Button> -->
<div class="row">
  <div class="col-md-6 pull-left">
    <div class="" permission = "[]">
      <div class="breadcrumb" ncy-breadcrumb></div>
    </div>
  </div>
  <div class="col-md-2 pull-right">
    <div><button class="btn btn-primary active notify" style="text-align:right;" ng-click="goToCampaignList()">List Campaigns</button>
    </div>
  </div>
</div>

<div ng-show="isEmpty" class="panel panel-default" style="font-size:24px;text-align:center;"><span>{{msg}}</span></div>
<div class="pageTitle" style="margin-top:3px;">
    <h2 ng-hide="hideData || isEmpty" style = "text-align:center;">Campaign Decision Board</h2>
</div>

<div class="content panel-body">
  <div class="" ng-hide="hideData || isEmpty">
    <div class="row">
      <div class="table-responsive">
        <table st-table="proposals" st-safe-src="Data" class="table table-striped">
          <thead>
            <tr>
              <th colspan='999' style="background-color:#ffffff;margin-left:20px;">
                <input st-search="" placeholder="Search ..." class="form-control"  type="search"/>
              </th>
            </tr>
            <tr>
              <th>Sr No</th>
              <th>Proposal Id</th>
              <th>Proposal Name</th>
              <th>Proposal For</th>
              <th>Proposal Created By</th>
              <th>Invoice Number</th>
              <th st-sort="proposal.tentative_start_date" st-skip-natural="true">Start Date</th>
              <th st-sort="proposal.tentative_end_date" st-skip-natural="true">End Date</th>
              <th>Create Campaign</th>
              <th>Assigned To</th>
              <th>Edit Details</th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="proposal in proposals">
              <td>{{$index+1}}</td>
              <td class="cellWidth" ng-click="showProposalDetails(proposal.proposal.proposal_id)">
                <a>{{proposal.proposal.proposal_id}}</a>
              </td>
              <td class="cellWidth">{{proposal.proposal.name}}</td>
              <td class="cellWidth">{{proposal.proposal.account}}</td>
              <td class="cellWidthLarge">{{proposal.proposal.created_by}}</td>
              <td class="cellWidth">{{proposal.proposal.invoice_number}}</td>
              <td class="cellWidth">{{proposal.proposal.tentative_start_date|limitTo:10}}</td>
              <td class="cellWidth">{{proposal.proposal.tentative_end_date|limitTo:10}}</td>
              <td class="cellWidth" style="text-align:left">
                <div class="radio-button">
                       <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="PTC" ng-click="convertProposalToCampaign(proposal)"  data-toggle="modal" ng-loading="loadSpinner" permission = "[permissions.acceptProposal]">Accept</label>
                </div>
                <div class="radio-button">
                       <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="PNC" ng-click="convertCampaignToProposal(proposal)" data-toggle="modal" permission = "[permissions.declineProposal]">Decline</label>
                </div>
                <div class="radio-button">
                       <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="POH" ng-click="updateCampaign(proposal)" data-target="#onHoldModal" data-toggle="modal" permission = "[permissions.onHoldPrposal]">OnHold</label>
                </div>
              </td>
              <td class="cellWidth" ng-if="proposal.proposal.campaign_state == 'PTC'">
                {{proposal.assignment_detail.assigned_to}}
              </td>
              <td class="cellWidth" ng-if="proposal.proposal.campaign_state != 'PTC'">
                NA
              </td>
              <td class="cellWidthLarge">
                <!-- <a href="{{bucket_url}}{{proposal.file_name}}" Download> Download </a> -->
                <a ng-click="goToEditProposalDetails(proposal.proposal.proposal_id)">Edit Details</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="13" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages=""></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- Start: Code for reason specifying modal-->
<div id="declineModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Specify Reason</h4>
        <hr/>
        <div class = "modal-body" style = "height: 300px;">
        <label>Please enter the reason in below box why this proposal can't be converted to campaign</label>
          <textarea name="reason" id="onDeclineReason" class="form-control" ng-model="reason"></textarea>
          <button class="btn btn-danger active notify" ng-click="sendNotification()" ng-disabled="!reason.length > 0" ng-loading="loadSpinner">Notify</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="onHoldModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Specify Reason</h4>
        <hr/>
        <div class = "modal-body" style = "height: 300px;">
        <label>Please enter the reason in below box why this proposal is on hold</label>
          <textarea name="reason" id="onHoldReason" class="form-control" ng-model="reason"></textarea>
          <button class="btn btn-danger active notify" ng-click="sendNotification()" ng-disabled="!reason.length > 0" ng-loading="loadSpinner">Notify</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- End: Code for reason specifying modal-->
<!-- Start: Code for assgining campaign -->
<div id="assignModal"  class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Assign Campaign to Operations Manager</h4>
        <hr/>
        <div class = "modal-body">
          <div class = "row">
          <label>Select Organisation:</label>
            <select ng-model= "orgId" ng-change="getUsersList(orgId)">
              <option ng-repeat = "org in organisationList" value = "{{org.organisation_id}}">{{org.name}}</option>
            </select>
          </div>
        <div class = "row">
        <label>Assign to:</label>
          <select ng-model= "userId">
            <option ng-repeat = "user in userList" value = "{{user.id}}">{{user.username}}</option>
          </select>
        </div>
          <button class="btn btn-danger active notify" ng-click="saveAssignment(userId)">Assign</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Code for assgining campaign -->
<!-- <footer-bar></footer-bar> -->
</main>
