<link rel="stylesheet" href="modules/common/paginator/paginator-bar.tmpl.css" />
<!-- <div class="line4"></div><br/> -->
<div class="pagecontainer2 alsolikebox center container paginator-bar">
    <ul class = "pagination">
         <li>
           <a id="hold" value="false" ng-click="previousSociety()" ng-show="index > minlength">Pre</a>
         </li>
         <!-- <li ng-repeat="n in [] | range:maxlength+1 ">
            <a id="hold" value="false" ng-click="societyByIndex(n)">{{n+1}}</a>
        </li> dir-paginate="row in model | itemsPerPage:5" -->
        <li>
          <a id="hold" value="false" ng-click="nextSociety()" ng-show="index < maxlength">Next</a>
        </li>
        <li>
          <a style = "padding-top: 2px;padding-left: 2px; padding-right: 2px;padding-bottom:2px;">
           <input type="number" style="height:28px; width:52px;border-color: whitesmoke;" ng-model="societyIndex" ngMinlength="minlength"  ngMaxlength="maxlength">
          </a>
        </li>
    </ul>
    <span class = "paginator-span">
      <button type="button" class="btn btn-default button-style" ng-click="societyByIndex(societyIndex-1)">
        <span class="glyphicon glyphicon-play"></span>
      </button>
    </span>
      <div ng-class="{fade : startFade}" ng-show="numberError">Not a valid entry</div>
</div>
