.paginator-bar{margin-left: -310px; background-color: transparent; border-color: transparent; box-shadow: 0 0 0 rgba(0, 0, 0, 0);}
.paginator-span{padding-right: 184px; padding-left: 2px;}
.button-style{margin-top: -66px;}
