<link rel="stylesheet" href="modules/pages/ProposalHistory/proposalHistory.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
	<div class="page-container">
	<form name="historyDetails">
	</br></br></br>
		<!-- <back-Button></back-Button> -->
		<div class="breadcrumb" ncy-breadcrumb></div>
		<div ng-loading="loading"></div> <!--For displaying loading icon-->
		<div class="container">
		  <div class="row">
		      <div class="panel panel-default">
		        <div class="panel-heading">
		          <h4 style="text-align: center;">
		            List of '{{proposalid}}' Proposals
		          </h4>
		        </div >
		        <table class="table table-fixed table-bordered" style="text-align: center;">
		          <thead>
		            <tr>
		              <th ng-repeat="proposal in proposalHeaders" class="col-xs-2" style="text-align: center;">{{proposal.name}}</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr ng-repeat="proposal in proposals">
									<td class="col-xs-2">{{proposal.proposal_id}}</td>
									<td class="col-xs-2">{{proposal.name}}</td>
									<td class="col-xs-2">{{proposal.created_by}}</td>
									<td class="col-xs-2">{{proposal.created_on|limitTo:10}}</td>
									<td>
									<button class="btn btn-danger active" ng-click="showDetails(proposal.proposal_id)">Details</button>
								</td>
		            </tr>
		          </tbody>
		        </table>
		      </div>
		  </div>
		</div>
	</div><!-- extra div-->
</form>
