<link rel="stylesheet" href="modules/pages/manageCampaign/createaccount/create-account.tmpl.css" />

<div ><nav-bar></nav-bar></div>
<br /><br />
<br />
<br />

<main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" >

<div class="panel-panel-default">
  <div class=""><div class="breadcrumb" ncy-breadcrumb></div></div>
</div>
  <div>
    <span style="color:red;margin-left:25%;font-size:18px;">{{errorMsg}}</span>
  </div>
  <h3 class = "pageTitle" ng-if = "!editAccountField">Create Account <small style="color:#ffffff;">(* Fields are Mandatory)</small></h3>
  <h3 class = "pageTitle" ng-if = "editAccountField">Edit Account <small style="color:#ffffff;">(* Fields are Mandatory)</small></h3>

<!-- <back-Button></back-Button> -->
<form name = "form" class="panel-body">
  <!-- <div class="breadcrumb" ncy-breadcrumb></div> -->
  <div class = "panel panel-default business-panel">
       <div class = "table">
       <div class="form-group">
         <!-- <div class = "row">
           <div class ="col-md-3 "><input type="checkbox"  ng-model="setAccount" ng-click="setCreate_Account()" />
           <label> As Business </label></div>
         </div></br> -->

          <div class = "row">
            <div class = "col-md-3"><label>Account Name * </label></div>
            <div class = "col-md-3"><input type="text" class="form-control" ng-pattern= "/^[a-zA-Z0-9\-\s]+$/" ng-model="model.account.name" ng-required="true" /></div>
            <!--<span class="show-error" ng-show="form.businessname.$error.pattern">Please Enter Valid Business Name</span> </div>-->

            <div class = "col-md-3"><label>Organisation Name </label></div>
            <div class = "col-md-3"><input type="text" class="form-control input-size" ng-model="organisationData.name" readonly="true"/></div>
            <!--<span class="show-error" ng-show="form.businessname.$error.pattern">Please Enter Valid Business Name</span> </div>-->
          </div>
        </div>

       <div class="form-group">
         <div class = "row">
            <div class = "col-md-3"><label>Account Email</label></div>
            <div class = "col-md-3"><input type="email" name="account_email" id="account_email" class="form-control" ng-pattern= "/^[\S+@\S+\.\S]+$/" ng-model="model.account.email"/>
            <span class="show-error" ng-show="form.account_email.$error.email">Please Enter Valid Email Id</span></div>
            <div class = "col-md-3"><label>Account Phone</label></div>
            <div class = "col-md-3"><input type="text" name="account_phone" id="account_phone" class="form-control" ng-pattern="/^(\d{8}|\d{10})$/" ng-model="model.account.phone"/>
            <span class="show-error" ng-show="form.account_phone.$error.pattern">Please Enter Valid Phone Number</span></div>
          </div>
        </div>

       <div class="form-group">
          <div class = "row">
            <div class = "col-md-3"><label>Account Address</label></div>
            <div class = "col-md-3"><input type="text" name="address" id="address" class="form-control" ng-pattern= "/^[a-zA-Z0-9\-\,\.\s]+$/" ng-model="model.account.address" /></div>              <!--<span class="show-error" ng-show="form.address.$error.pattern">Please Enter Valid Address</span></div>-->
            <div class = "col-md-3"><label >Reference Contact Name</label></div>
            <div class = "col-md-3"><input type="text" name="reference_name" id="reference_name" class="form-control" ng-pattern= "/^[a-zA-Z\-\s]+$/"  ng-model="model.account.reference_name"/></div>
            <!--<span class="show-error" ng-show="form.reference_name.$error.pattern">Please Enter Valid Name</span></div>-->
          </div>
       </div>

       <div class="form-group">
         <div class = "row">
            <div class = "col-md-3"><label >Reference Contact Phone</label></div>
            <div class = "col-md-3"><input type="text" name="reference_phn" id="reference_phn" class="form-control" ng-pattern="/^(\d{8}|\d{10})$/" ng-model="model.account.reference_phone"/>
            <span class="show-error" ng-show="form.reference_phn.$error.pattern">Please Enter Valid Phone Number</span></div>
            <div class = "col-md-3"><label >Reference Contact Email</label></div>
            <div class = "col-md-3"><input type="email" name="reference_email" id="reference_email" class="form-control" ng-pattern= "/^[\S+@\S+\.\S]+$/" ng-model="model.account.reference_email"/>
            <span class="show-error" ng-show="form.reference_email.$error.email">Please Enter Valid Email Id</span></div>
          </div>
       </div>

       <div class="form-group">
         <div class = "row">
           <div class = "col-md-3"><label>Comments</label></div>
           <div class = "col-md-6"><textarea name="comments" id="comments" class="form-control" ng-model="model.account.comments"></textarea></div>
          </div>
       </div>
       <!-- <button  class="btn btn-danger" ng-disabled="form.$invalid" ng-click="createAccount()" ng-if="!editAccountField">Save</button> -->
       <!-- <button  class="btn btn-danger" ng-disabled="form.$invalid" ng-click="editAccount()" ng-if="editAccountField">Update</button> -->
     </div>
   </div>

</form>

<br />

<h3 class ="pageTitle">Account Contact <small style="color:#ffffff;">(* Fields are Mandatory)</small></h3>
<form name = "form" class="panel-body">
 <div class="panel panel-default business-panel">
      <!--<div ng-repeat="contact in business.contacts track by $index">-->

      <div ng-repeat="contact in model.account.contacts track by $index">
          <div class = "table">
            <div class="form-group">
              <!-- <div class = "row">
                <div class ="col-md-3 "><input type="checkbox"  ng-model="setContact" ng-click="setContact_Account($index)" />
                <label> As Business </label></div>
              </div></br> -->

              <div class = "row">
                  <div class = "col-md-3"><label>Name *</label></div>
                  <div class = "col-md-3"><input type="text" name="contact_name" id="contact_name" class="form-control" ng-pattern= "/^[a-zA-Z\-\s]+$/" ng-model="contact.name" required/>
                  <!--<span class="show-error" ng-show="form.contact_name.$error.pattern">Please Enter Valid Name</span>--></div>

                  <div class = "col-md-3"><label >Designation</label></div>
                  <div class = "col-md-3"><input type="text" name="designation" id="designation" class="form-control" ng-pattern= "/^[a-zA-Z\s]+$/" ng-model="contact.designation"  />
                  <!--<span class="show-error" ng-show="form.designation.$error.pattern">Please Enter Valid Designation</span>--></div>
              </div>
             </div>

         <div class="form-group">
           <div class = "row">
               <div class = "col-md-3"><label >Department</label></div>
               <div class = "col-md-3"><input type="text" name="department" id="department" class="form-control" ng-pattern= "/^[a-zA-Z\s]+$/" ng-model="contact.department"/>
               <!--<span class="show-error" ng-show="form.department.$error.pattern">Please Enter Valid Department</span>--></div>

               <div class = "col-md-3"><label>Email</label></div>
               <div class = "col-md-3"><input type="email" name="contact_email" id="contact_email" class="form-control" ng-pattern= "/^[\S+@\S+\.\S]+$/" ng-model="contact.email"  />
               <span class="show-error" ng-show="form.contact_email.$error.email">Please Enter Valid Email</span></div>
           </div>
         </div>

        <div class="form-group">
          <div class = "row">
              <div class = "col-md-3"><label>Mobile</label></div>
              <div class = "col-md-3"><input type="text" name="contact_phone" id="contact_phone" class="form-control" ng-pattern="/^(\d{8}|\d{10})$/" ng-model="contact.mobile"/>
               <span class="show-error" ng-show="form.contact_phone.$error.pattern">Please Enter Valid Mobile Number</span>
              </div>

              <div class = "col-md-3"><label>Single Point of Contact?</label></div>
              <div class = "col-md-3"><input type="radio"  ng-model="contact.spoc" value="true">Yes &nbsp
              <input type="radio" ng-model="contact.spoc" value="false">No </div>
          </div>
            <div class = "row">
              <div class = "col-md-4"></div>
              <div class = "col-md-6"></div>
              <div class = "col-md-1"><button class="btn btn-danger" ng-click="remove($index)">Remove</button></div>
            </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class = "table">
      <div class = "row">
        <div class = "col-md-4"><button class="btn btn-danger" ng-click="addNew()">Add New Contact</button></div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid" ng-if="!editAccountField" ng-click="createAccount()">Save Details</button>
    <br ><br />
    <button  class="btn btn-danger" ng-disabled="form.$invalid" ng-click="editAccount()" ng-if="editAccountField">Update</button>
  </form>
</main>
