<div class="hpadding20">
	<div class="line4"></div>
	<span class="opensans dark size16 bold">Basic Details</span><br><br>
</div>
<div class="hpadding20">
	 <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 grey" style="color:#0fa491;"><span>{{society.flat_count||'NA'}}</span><br>
					<label style="font-size:15px;" class="grey">No.of Flats </label>
			 </div>
			 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15"  style="color:#0fa491;">{{society.flat_type_count||'NA'}} <br>
				<label style="font-size:15px;"class="grey">Types of Flat</label>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15" style="color:#0fa491;">{{society.flat_avg_size||'NA'}}<br>
					<label style="font-size:15px;" class="grey">Avg flat/carpet area</label>
			 </div>
			 <div class="clearfix"></div>
	 </div>
	 <div class="clearfix"></div>
	 <br/>
</div>
<!--  -->
<div class="hpadding20">
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15" style="color:#0fa491;"><span>{{society.age_of_society||'NA'}}</span><br>
			 <label style="font-size:15px;" class="grey">Possession Year</label>
		 </div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<br/>
</div>
<!-- end -->
<div class="hpadding20">
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15" style="color:#0fa491;"><span>{{residentCount.residents||NA}}</span><br>
			 <label style="font-size:15px;" class="grey">Estimated residents</label>
		 </div>
		<div class="clearfix"></div>
	</div>
	<div class="col-md-4 offset-0">
		 <div class="sctext left margtop15" style="color:#0fa491;">{{society.tower_count||'NA'}}<br>
				<label style="font-size:15px;" class="grey">No.of Towers</label>
		 </div>
		 <div class="clearfix"></div>
	</div>
	<div class="col-md-4 offset-0">
	 <div class="sctext left margtop15" style="color:#0fa491;">{{society.average_rent||'NA'}}<br>
		 <label style="font-size:15px;" class="grey">Avg rent/sq.ft</label>
	 </div>
	 <div class="clearfix"></div>
 </div>
	<div class="clearfix"></div>
	<br/>
</div>
 <!--<div class="hpadding20">
	 <div class="line4"></div>
	 <span class="opensans dark size16 bold ">Ammenities</span><br><br>
 </div>
 <div class="hpadding20">
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_playing area.png"/>&nbsp;Children Play Area<br><br>
			</div>
			<div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_parking.png"/>&nbsp;Parking Place <br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_open space area.png"/>&nbsp;Open Space Area<br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="clearfix"></div>
	 <br/>
</div>
 <div class="hpadding20">
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/swim.png"/>&nbsp;Swimming Pool<br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_gym.png"/>&nbsp;Gymnasium <br><br>
		 </div>
	 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/cafe.png"/>&nbsp;Cafeteria<br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="clearfix"></div>
	 <br/>
 </div>-->
 <!--Map Started-->
 <!--<div class="hpadding20">
	 <div class="line4"></div>
	 <span class="opensans dark size16 bold ">Map</span><br><br>
 </div>
 <div>ng-controller="MapCtrl"
	<div id="map" style = "width:100%; height: 500px;"></div>
	<div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
				<a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
					<label id="names" >{{marker.title}}</label>
				</a>
	</div>
</div>-->
<!--<div d="map-canvas"></div>Map End-->
<!--start: amenities  -->
<div class="hpadding20">
	 <div class="line4"></div>
		 <span class="opensans dark size16 bold">Amenities</span><br><br>
</div>
<div class="hpadding20" ng-if="societyDetails" ng-repeat="amenity in amenities">
	 <div class="col-md-4 offset-2">
		 <div class="sctext left margtop15 grey">
			 <img ng-src="{{getAmenityIcon(amenity.amenity.code)}}"/>&nbsp;{{amenity.amenity.name}}
	 	</div>
	 	<div class="clearfix"></div>
	</div>
</div>
<div ng-if="!amenities.length" style="text-align:center"><label style="font-size:15px;" class="grey">No Amenities Available</label></div>
<br/><br/><br/>
<!--end: amenities  -->
 <!--Preferences Start-->
	 <div class="hpadding20">
			<div class="line4"></div>
				<span class="opensans dark size16 bold">Preferred Business Type</span><br><br>
	 </div>
	 <div class="hpadding20">
			<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_food_beverage.png"/>&nbsp;Food & Beverage<br><br>
				</div>
				<div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15 grey">
				<img src="icons/ic_medical.png"/>&nbsp;Medical <br><br>
			</div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_retail.png"/>&nbsp;Retail<br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="clearfix"></div><br/>

	</div>
	<div class="hpadding20">
		 <div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_medical.png"/>&nbsp;Health & Fitness<br><br>
				</div>
				<div class="clearfix"></div>
		 </div>
		 <div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_events.png"/>&nbsp;Events <br><br>
				</div>
				<div class="clearfix"></div>
		 </div>
		 <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 grey">
				 <img src="icons/ic_electronics.png"/>&nbsp;Electronics<br><br>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div><br/>
	</div>
	<div class="hpadding20">
		 <div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					 <img src="icons/ic_grocery.png"/>&nbsp;Grocery<br><br>
				</div>
				<div class="clearfix"></div>
		 </div>
		 <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 grey">
				 <img src="icons/ic_boutiques.png"/>&nbsp;Boutique<br><br>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="col-md-4 offset-0">
				<div class="sctext left margtop15 grey">
					<img src="icons/ic_workshop.png"/>&nbsp;Workshop<br><br>
				</div>
				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div><br/>
	</div>

 <div class="hpadding20">
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_medical.png"/>&nbsp;Health & Fitness<br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_events.png"/>&nbsp;Events <br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 <div class="col-md-4 offset-0">
		 <div class="sctext left margtop15 grey">
			 <img src="icons/ic_electronics.png"/>&nbsp;Electronics<br><br>
		 </div>
		 <div class="clearfix"></div>
	 </div>
		<div class="clearfix"></div><br/>
		<div class="line4"></div>
	 </div>

	 <!--Preferences End-->
	 <!--Dos and Don't Start-->
	 <!--<div class="hpadding20">commented out</div>-->
	 <!-- Collapse 1 -->
	 <!--<button type="button" class="collapsebtn2" data-toggle="collapse" data-target="#collapse6">
						Do's and Dont's<span class="collapsearrow"></span>
	 </button>
	 <div id="collapse6" class="collapse in">
			 <div class="hpadding20">
				 <div class="col-md-12">
						<ul class="checklist grey">
							<li>Machadalo Employees/Vendors not to enter society premises without authorized ID Card</li><br>
							<li>No Vendor or Business should directly interact with Society Management</li><br>
							</ul>
					 </div>
				 </div>
				 <div class="clearfix"></div>
		 </div>-->
 <!-- End of collapse 1 -->
 <!--Dos and Don't End-->
 <!--Issues and resolution Start-->
	 <!--<div class="hpadding20">
			 <div class="line4"></div>
	 </div>-->
 <!-- Collapse 2 -->
	 <!--<button type="button" class="collapsebtn2" data-toggle="collapse" data-target="#collapse1">
			 Issue's and Resolutions<span class="collapsearrow"></span>
	 </button>
	 <div id="collapse1" class="collapse in">
			<div class="hpadding20" style="color:#000">
				 <span style="color:#0fa491">Q</span>.issue
			</div><br>
			<div class="hpadding20">
				 resolution comes here
			</div><br><br>
	 </div>
	 <br><br>-->
	 <div class="clearfix"></div>
	 <!-- End of collapse 2 -->
 <!--Issues and resolution End-->
	 <div class="clearfix"></div>
