.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0px 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.list-button{
  text-align: center;
  width: 130px;
  height: 35px;
  font-size: 15px;
  padding: 2px;
}
.noborderright{
     border-right-style:hidden;
}
.noborderlef{
   border-left-style:hidden;
}
.aligntop{
    margin-top: -15px;
}
.bold{
  font-weight: bold;
}
.fontcolor{
  color: #949292;
}
.align{
    margin-left: -15px;
}
.weight{
  font-weight: 100;
}
.statusbadge{
  background-color: #c9302c;
  color: #fff;
}
 .keypoints{
   border-bottom-style: hidden;
 }
 .removebutton{
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100px;
 }
